[2016-01-26 20:10] emilyville opened #1 "Set up In Depth Status Dashboard"
This is least high priority of the pages

[2016-02-24 04:51] ayaleloehr opened #6 "Ordering for products in high level dashboard?"
What order to we want the products in for the high level migration dashboard?  Right now they are sorted in whatever order they come back from the GitHub API in. A few options are:
- Sorted alphabetically
- Sorted by completeness (most or least done on top?)
- Sorted by date (if so, what date, as many don't have a date in them?)

[2016-03-05 16:30] ayaleloehr commented on #6
Decided by date. updated.

[2016-03-05 16:30] #6 closed

[2016-09-10 22:48] #1 closed

[2016-09-14 15:12] robertfairhead opened #13 "Clean-up Google Analytics data pulls"
- [x] Generalize data pull scripts to replace hard-coded values
- [x] Switch traffic metric to active users
- [x] Switch data point frequency to weekly
- [x] Refactor chart types into includes with more generic machinery to pull in
- [x] Make sure first week of data is a full week (120 days won't be)
- [x] Always run from prior monday instead of yesterday to ensure latest week is a full week

[2016-09-14 15:14] robertfairhead opened #14 "Add additional tile types"
- Add additional tile types
  - Quotes
  - Before/after
  - etc.

- Create new tile type for front page project list
  - Just title and minimal tag line
  - Potentially create a "suggest a project" tile. Probably for use when it goes live to public

[2016-09-14 15:16] robertfairhead opened #15 "Coordinate with DevOps on deployment"
- [X] Confirm URL = vets.gov/scorecard
- [x] Get CD pipeline setup for automated deployments
- [ ] Get weekly cron job setup to auto-deploy with fresh data. Monday early am to pull full week (Sun to Sun)

[2016-09-14 15:17] robertfairhead opened #16 "Create basic dashboards for remaining "live" vets.gov features"

[2016-09-14 15:17] robertfairhead opened #17 "Add additional datapoint tiles to main dashboard overview section"

[2016-09-14 20:44] cmgiven opened #19 "Import va_common styles"
We should probably do this sooner rather than later, as I'm reticent to spend much time on styling without these in place. Unless there's a vets.gov practice of which I am unaware.

[2016-09-14 20:45] cmgiven commented on #14
PR #18 opened.

[2016-09-14 20:47] cmgiven opened #20 "Lists of projects should autopopulate from available boards"
So the content can be updated in a single location.

Also, each item should have a title and description; the metrics are too varied to be easily parseable in these lists (and they tend to highlight the before, instead of the after).

[2016-09-14 20:48] cmgiven opened #21 "Each category list on the overview page should have a suggest link"
As shown here:

![vets gov dashboard project list](https://cloud.githubusercontent.com/assets/5375557/18529444/0ecb74fe-7a9b-11e6-8fb4-106393bc1dcb.png)

[2016-09-14 20:49] cmgiven opened #22 "Overview page should include link to the migration status dashboard"
What to call this TBD, but should probably be low on the page.

http://ec2-54-165-153-226.compute-1.amazonaws.com:8080/jekyll/update/2016/01/27/high-level-dashboard.html

[2016-09-14 20:51] cmgiven opened #23 "Detail page should include..."
* "Before" sad text
* Screenshot
* Link to site
* Date added

Refer to what's at top here:

![vets gov dashboard detail](https://cloud.githubusercontent.com/assets/5375557/18529532/79364eae-7a9b-11e6-8801-130799fc95be.png)

[2016-09-14 20:52] cmgiven commented on #20
Sort by date added, newest on top, those without a date added on bottom.

[2016-09-15 13:58] cmgiven commented on #19
@robertfairhead: Do you have a reaction here? Is this a logical next step?

[2016-09-15 14:15] robertfairhead commented on #19
i think @bshyong @crwallace @melwoodard were working on some standard vets.gov styling. Is there something that @cmgiven can pull in? he's helping us out with creating an HTML dashboard/scorecard for the project for a few days.

I agree that it's not worth doing much on the styling side if there's already a common vets.gov package that exists.

[2016-09-15 16:07] cmgiven opened #24 "Overview page should include a featured metrics section"
Related to increasing access. First item on the page, then projects, then other tiles.

[2016-09-15 19:20] #20 closed

[2016-09-15 19:20] #22 closed

[2016-09-15 19:20] #24 closed

[2016-09-15 19:20] #14 closed

[2016-09-15 19:22] #17 closed

[2016-09-15 19:23] cmgiven commented on #16
Note that although the previously stubbed boards are now no longer shown, the files containing that data remain (i.e. `_data/apply.yml`).

[2016-09-15 20:33] #21 closed

[2016-09-15 20:33] #23 closed

[2016-09-16 12:11] robertfairhead commented on #19
@cmgiven not sure how much time you'll have today, but i'd say go ahead and import va_common styles if you want to do any styling work, given our frontend team is pretty busy now. if we need to tweak later for vets.gov purposes, we can.

[2016-09-16 13:20] robertfairhead commented on #16
@cmgiven i'll take care of adding these back in this morning

[2016-09-16 14:54] #16 closed

[2016-09-16 19:43] robertfairhead opened #31 "Design review of dashboard"
Stacey requests a design consult on it to clean up styling, wording, etc.

from kelly via slack:  the product cards still look super text and kind of cluttered?

[2016-09-16 20:20] robertfairhead opened #32 "Changes from 9/16 review"
- [x] Change Veterans in New/Returning Veterans to Users
- [x] Change help to enable on main dash intro to four columns
- [x] Move charts up below featured section on main page
- [x] Limit each product dash to 3 tiles plus charts
- [x] Make UX before/after screenshots on all charts (using hero section)

[2016-09-19 12:07] robertfairhead opened #33 "make links to each feature work correctly on each detailed dash"
-  [x] Add in URLs
-  [x] Fix responsive float: right issue with better css

[2016-09-19 12:08] robertfairhead opened #34 "Incorporate migration status dashboard into new format"
kelly via slack: can put this somewhere more prominent?  "migration status" http://ec2-54-165-153-226.compute-1.amazonaws.com:8080/jekyll/update/2016/01/27/high-level-dashboard.html

[2016-09-19 23:50] #32 closed

[2016-09-19 23:50] robertfairhead opened #36 "Make suggest a project link work"

[2016-09-19 23:55] #36 closed

[2016-09-20 12:42] robertfairhead opened #38 "add additional metrics from powerpoint"
[2016-08-26 vets.gov performance.pptx](https://github.com/department-of-veterans-affairs/vets.gov-status/files/482551/2016-08-26.vets.gov.performance.pptx)

[2016-09-21 13:33] cmgiven opened #40 "Employment Center Metrics"
* Chart: Active Users
* Chart: Mobile vs Desktop Sessions

A comparison for active users should be possible. @koconnor719: Who do we need to work with to get va.gov GA numbers?

Note that there are no small tiles here, just two large charts.

[2016-09-21 13:36] cmgiven opened #41 "Content Metrics"
* Big Number: *524* - websites consolidated into a single, consistent experience
* Screenshots: Comparison between old and new language. Expected from the content team.
* Icon: Mobile Availability - Vets.gov is designed to work equally well on desktop and mobile devices
* Chart: Mobile vs. Desktop Sessions for the entirety of Vets.gov

[2016-09-21 13:43] cmgiven opened #42 "GI Tool Metrics"
* Image Comparison: Screenshots attached
* TBD
* Icon: Flag — VA can add "caution flags" to schools in real time
* Chart: Active Users (comparison should be possible, yes? @koconnor719)

We need one more small item here.

Before:
<img width="1350" alt="screen shot 2016-09-20 at 10 24 15 am" src="https://cloud.githubusercontent.com/assets/5375557/18713281/bb520c6c-7fdf-11e6-8d6e-b31c42c570ae.png">

[2016-09-21 13:43] cmgiven commented on #42
Perhaps something about using open data?

[2016-09-21 13:55] cmgiven opened #43 "Health Application Metrics"
* Icon: Mobile Availability - Veterans can now complete their application entirely from a smartphone
* Comparison: before - 12%, after - 50% of submissions processed automatically and immediately
* Image Comparison
* Chart: Monthly Submissions (comparison: 7,620)
* Chart: Active Users

@koconnor719: Can you confirm that the comparison values are correct?

[2016-09-21 13:59] cmgiven opened #44 "Facility Locator Metrics"
* Number: 20 - locator tools consolidated into a single experience
* Now includes services (@koconnor719: What does this mean?)
* Icon: Mobile Availability - Works equally well on desktop and mobile devices
* Chart: Active Users

[2016-09-21 14:05] koconnor719 commented on #44
there are 43 locators; our MVP won't consolidate them. before vets could only search locations of VA facilities--now they can search both--lcoation and see if the service they need is at that location.  i think the big improvement there was using Google maps right?  @dannychapman

[2016-09-21 14:06] koconnor719 commented on #44
we need a before and after screenshot--ours will look better. here's some of the other locators.
[2017-07.FacilityLocatorList.xlsx](https://github.com/department-of-veterans-affairs/vets.gov-status/files/485221/2017-07.FacilityLocatorList.xlsx)

[2016-09-21 14:06] cmgiven opened #45 "Veterans Crisis Line Metrics"
* Number: 1 click from any vets.gov page
* Icon: Mobile - Veterans can initiate a call or text directly from the site
* Chart: Number of events per week

Could include one more small item. Maybe not necessary.

[2016-09-21 14:08] cmgiven commented on #44
The screenshots should replace the mobile availability icon.

[2016-09-21 14:09] koconnor719 commented on #43
one HCA metric needs to be in the top "Access" section w/ i'm thinking a pie chart?  (if that's the best visualization?) we will go from 10% (of 582,000 health care apps in 2015) submitted online to 50% online (projected based on current submission data) in 2017.

comparison:  baseline metric :  average of 62 daily submissions using VOA (old VA thing--veteran online application) ; our vets.gov met

[2016-09-21 14:10] koconnor719 commented on #42
can we call out the school "ITT" for caution flags as an example if possible (high visibility in news). i

[2016-09-21 14:10] cmgiven opened #46 "Prescription Refills Metrics"
* Screenshot comparison (needed)
* Icon: Increased security - Now support two factor authentication
* Decrease in call center volume (needed)
* Chart: Active Users (comparison should be possible)

@koconnor719: Two needed items here.

[2016-09-21 14:12] cmgiven opened #47 "Secure Messaging Metrics"
Note that this should be a stub - will launch in November.

* Icon: Mobile Availability
* Screenshot Comparison
* Icon: Improved Security
* Chart: Active Users

[2016-09-21 14:12] koconnor719 commented on #41
@dannychapman works closely w/ content team so he knows a lot about this.

i think the big things here are plain language, mobile, and consolidating relevant content from 524 sites (will be done in March 2017 fyi); right now we are 75% done w/ content migration.

content team can provide a really bad (dense, legalese) page before and a good one on vets.gov now--maybe an "apply" page?  or something

[2016-09-21 14:17] cmgiven opened #48 "Education Application Metrics"
This is a stub, will launch in November

* Number comparison: Uptime (we'll use whatever we're comfortable with for the after, but I imagine it'll be some number of nines).
* Screenshot comparison
* Usability test results? Can we get an average time to completion?
* Chart: Active users

[2016-09-21 14:18] cmgiven opened #49 "Benefits Claim Status Metrics"
This is a stub, will launch in November.

* Chart: Active Users

[2016-09-21 14:19] koconnor719 commented on #40
we have a lot of GA data on this one. here's some old decks i have w/ VA.gov stats:
[VEC Statistics Presentation 20160216.pptx](https://github.com/department-of-veterans-affairs/vets.gov-status/files/485257/VEC.Statistics.Presentation.20160216.pptx)

[VEC Statistics Presentation 20160418 - Example 3.pptx](https://github.com/department-of-veterans-affairs/vets.gov-status/files/485255/VEC.Statistics

[2016-09-21 14:20] koconnor719 commented on #46
@gnakm can you provide chris some good "before and after" screenshots for MHV prescription refill pls.  pls. pick worst before page:)

[2016-09-21 14:21] cmgiven commented on #40
Is it possible to get direct access to VA? Those presentations don't contain the key number I'd be looking for (number of active users by week).

[2016-09-21 14:24] koconnor719 commented on #46
let's take out TFA.  let's highlight mobile for this one.

we have baseline data for this; i have to find it.

[2016-09-21 14:25] koconnor719 commented on #45
not 1 click from any page--just the bottom of homepage.  the improvement is one-click to text and call from a mobile device. we have very low traffic on this.

[2016-09-21 14:26] cmgiven commented on #43
Thinking that submission numbers can be shown in the chart, with the comparison number to get at the total number of online submissions. Because this cannot (yes?) be automatically processed, probably don't want to get more granular than monthly.

Does the combination of the absolutely number of online submissions + the percentage of submissions processed automatically get us where we need to be?

[2016-09-21 14:27] koconnor719 commented on #40
@MarinaMartin can you answer this for chris?  i don't know how we access VA.gov google analytics.

[2016-09-21 14:28] cmgiven commented on #42
Wonder if @dannychapman has thoughts on that one? How might we include that sort of example in a description of the flagging feature?

[2016-09-21 14:29] cmgiven commented on #45
Maybe we drop the chart, in that case. Although note that it appears in the footer on every page.

[2016-09-21 14:31] cmgiven commented on #46
Makes sense. Note that we're bragging on mobile a lot. Included 2FA for variety, which is not the best reason, but we'll want to swap out mobile with something else where possible.

[2016-09-21 17:25] koconnor719 commented on #45
VCL stats:   @suzchap is the POC for questions on this:)

[2016-09 Analytics All Web Site Data Veterans Crisis Line related activity 20160920-20160920.pdf](https://github.com/department-of-veterans-affairs/vets.gov-status/files/485643/2016-09.Analytics.All.Web.Site.Data.Veterans.Crisis.Line.related.activity.20160920-20160920.pdf)

[2016-09-21 17:51] koconnor719 commented on #46
got it.  i'm not sure we are launching TFA in Nov:)

[2016-09-21 17:53] koconnor719 commented on #45
but it also appeared in footer on every page on VA.gov too...so not sure it's an improvement?

[2016-09-21 17:54] koconnor719 commented on #42
the idea is that the tool doesn't just tell Veterans how much a school costs w/ GI Benefit--but more importantly is the school performing well--and worth the value???

[2016-09-21 19:21] gnakm commented on #46
@cmgiven Here are some screenshots

## MHV

### Landing Page

<img width="1186" alt="screen shot 2016-09-21 at 3 02 16 pm" src="https://cloud.githubusercontent.com/assets/13420618/18725032/ad57f84c-800c-11e6-9476-f87f28fa7302.png">

### Refill Prescriptions
<img width="1188" alt="screen shot 2016-09-21 at 3 02 39 pm" src="https://cloud.githubusercontent.com/assets/13420618/18725044/b61ab654-800c-1

[2016-09-21 20:57] koconnor719 commented on #40
also we could add a cost metric here if @MarinaMartin agrees?  we saved the VA like $8M on this tool.  the vendor estimate to build this was $8M and many months; our team (marina) built and launched in lets say 2 weeks?  so the cost of her salary to do that could be comparison number of $6,000.    :)

[2016-09-22 02:15] #31 closed

[2016-09-22 02:23] robertfairhead commented on #19
Redesign completed

[2016-09-22 02:23] #19 closed

[2016-09-22 02:23] #33 closed

[2016-09-22 02:24] robertfairhead opened #52 "Vertical tabs do not work well at lower screen sizes"
They only really work at desktop size. Will need to flex to horizontal tabs for responsiveness.

[2016-09-22 12:23] robertfairhead commented on #38
Overtaken by later issues added by chris

[2016-09-22 12:23] #38 closed

[2016-09-22 13:04] robertfairhead commented on #40
Added tiles for $8m in savings and mobile availability

[2016-09-22 13:12] robertfairhead commented on #41
Added the consolidated sites, mobile, and plain language points. temporary content screenshot until i get a new one from content team.

[2016-09-22 13:30] robertfairhead commented on #42
Added caution warning and screenshots and traffic charts

[2016-09-22 14:07] robertfairhead commented on #43
Updated before screenshot and automatically processed submissions. The before/after pie charts are still a little wonky. Will update to those from text for the online percentage of submissions once i get that fixed

[2016-09-22 19:21] robertfairhead commented on #44
I added the dual search options and consolidation tiles. There is google analytics data on this, but it will require some additional GA configuration before I can add that it in. Should be done by Monday.

[2016-09-22 19:22] robertfairhead commented on #45
I added the one click text/call tile.

[2016-09-22 19:28] robertfairhead commented on #46
Added the mobile access and screenshots. Will add GA charts once site is live.

[2016-09-22 19:29] robertfairhead commented on #47
Left as coming soon

[2016-09-22 19:30] robertfairhead commented on #49
Left as coming soon

[2016-09-22 19:37] robertfairhead opened #55 "Overall index page metrics"
We currently have healthcare applications, 508 compliance, and sites available on mobile in the "Access Improved section"

[2016-09-23 02:25] koconnor719 opened #58 "9/21 review notes on homepage"
bob, i will put comments on individual cards/products in the issues you guys already have going.  here are the general comments on the landing page per our meeting today.  looks so good.  ty.

@robertfairhead

Access
- first sentence "apply for"  (add "for")
- Access sentence: "Improving Veteran access to benefits and services."   (i think that can replace the 2 current sentences.)
-for the first

[2016-09-23 02:29] koconnor719 commented on #49
@robertfairhead

this card is not flippable so i can't see what's there.  but here's some metrics:

- before 90 day release cycles; after weekly releases.
- before availability: X number (josh might be able to get this--it should be very very low?); after 99.99%

- Josh Q can get you some good before / after screenshots. (sorry he's not in this repo or i'd tag him)

[2016-09-23 02:30] koconnor719 commented on #48
not flippable? i will review when ready:)

[2016-09-23 02:31] koconnor719 commented on #47
not flippable; will review when ready

[2016-09-23 02:32] koconnor719 commented on #46
@robertfairhead for the screenshots--can we do a mobile view for the before / after?  MHV is not mobile--so that before should be awful.  @gnakm

[2016-09-23 02:37] koconnor719 commented on #45
@suzchap do you have any ideas for 1-2 VCL metrics we could call out here on our scorecard?  https://adhocteam.github.io/vets.gov-status/boards/crisisline.html
pls. post ideas here for bob.

[2016-09-23 02:39] koconnor719 commented on #44
@robertfairhead we need a better "after" screenshot here:)  @gnakm help!  https://adhocteam.github.io/vets.gov-status/boards/facility.html

[2016-09-23 02:42] koconnor719 commented on #42
sorry --let's take out the reference to ITT...it doesn't seem right now that i see it.  sorry!

[2016-09-23 02:44] koconnor719 commented on #40
@robertfairhead @gnakm we have wrong before here:)  it's VR&E.   gina do you have screenshots of the old VEC??  a really bad one:)

one additional metric we could add is delivery speed:  Vendor estimate 1 Year to Deliver; Vets.gov delivered in 1 month.

[2016-09-23 02:54] koconnor719 commented on #41
@robertfairhead i think we need better screenshots here--especially the after one for vets.gov.   i defer to So company or danny .

[2016-09-23 02:58] crwallace commented on #46
@koconnor719 -- We can do a quick scan on MHV. If we get a url and whatever credentials we are using, I can run a scan tomorrow.

[2016-09-23 03:12] koconnor719 commented on #43
@robertfairhead  for the automatically processed applications; let's just change to average daily online submissions: 62 / day ; 500 per day.

replace mobile with online form completion time: before 45-60 minutes ; after 12-22 minutes.

[2016-09-23 03:28] koconnor719 opened #59 "Facility locator 508 metrics"
@crwallace we are building our vets.gov scorecard; want to include some 508 metrics!  i know we are tracking to 100% now!  do you have any data on old VA.gov 508 metrics?  either sitewide or a particular product that was worst in terms of 508 for our "before" metric.  (maybe facility locator??)

any other 508 related metrics would be great too...especially if we can call out improvements for blind

[2016-09-23 06:59] koconnor719 commented on #46
That would be awesome!!! Where do u think is most compelling story w 508?? We can highlight in 2-3 places if you have some good ones!!

Sent with Good (www.good.com)

-----Original Message-----
From: Courtney Eimerman-Wallace [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, September 22, 2016 10:58 PM Eastern Standard Time
To: department-of-veterans-affairs/vets.gov-stat

[2016-09-23 13:19] koconnor719 opened #60 "search"
@robertfairhead search needs a more meaningful search than "veteran"--can we search something like "benefits rating" and show how awful the VA.gov search results are--and how relevant our are? i would have someone do a few searches on top things veterans need w/ the worst results--like links to CFR or legal pdf docs or something:)  so benefits ratings brings up GI Tool.

thx

[2016-09-23 13:22] koconnor719 commented on #60
<img width="1098" alt="screen shot 2016-09-23 at 9 21 05 am" src="https://cloud.githubusercontent.com/assets/13770771/18787075/30f5a600-816f-11e6-92f0-b1ed30eed047.png">

[2016-09-23 14:46] gnakm commented on #44
Hey all~ here are screenshots of the new design BUT seeing that our scope is changing, there will be some visual changes. Hope the images below are helpful. Let me know if guys need other images!

Search
<img width="401" alt="screen shot 2016-09-23 at 10 42 23 am" src="https://cloud.githubusercontent.com/assets/13420618/18789873/99c85f1e-817a-11e6-9f3e-a6bc38351b00.png">

Search Results list view

[2016-09-23 18:55] dannychapman commented on #52
I have a fix just merged for this, but the charts still need work. Can we control the Chart.js sizing via CSS @robertfairhead?

[2016-09-23 19:24] dannychapman opened #62 "Sample for how a details page with video would work"
![2 - interior with video 1x](https://cloud.githubusercontent.com/assets/281709/18798697/bf93fc18-81a1-11e6-9e79-e6c603a4f1b7.png)

[2016-09-23 19:33] robertfairhead commented on #52
@dannychapman i still need to look into it. i may end up swapping in another charting package. there's like a million of them. now that i have a better idea of our exact needs and use case, it should be easier to evaluate the options.

[2016-09-23 19:37] dannychapman commented on #44
@gnakm These look great BTW!

[2016-09-23 20:40] koconnor719 commented on #44
Yeah Gina!!!

Sent with Good (www.good.com)

-----Original Message-----
From: Danny Chapman [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, September 23, 2016 03:37 PM Eastern Standard Time
To: department-of-veterans-affairs/vets.gov-status
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets.gov-status] Facility Locator Metrics (#4

[2016-09-25 12:45] koconnor719 commented on #41
@robertfairhead here are the content screenshots per slack exchange:)

[2016-09-26 01:34] koconnor719 commented on #60
metric is 1-click access to top 100 search terms

[2016-09-26 01:38] koconnor719 commented on #34
for the migration metrics change to:

- 39 products delivered since Nov. 2015
- 90 day VA release cycle reduced to weekly vets.gov release cycle

[2016-09-26 01:39] koconnor719 commented on #48
for additional metric add:

- for the caution flag metric--the improvement is that it's real time--VA can update this immediately.
- Before: release cycle 90 days ; after weekly

[2016-09-26 01:40] koconnor719 commented on #44
third metric for this tool is that it now uses Google Maps so:

Before: did not provide driving directions or time; now it does.  (someone else can rework this--i'm not an expert in google maps)

[2016-09-26 01:42] koconnor719 commented on #42
- for the caution flag metric--the improvement is that it's real time--VA can update this immediately.
- Before: release cycle 90 days ; after weekly

[2016-09-26 01:48] koconnor719 commented on #48
https://github.com/akainic can we pls. provide some Veteran quotes from usability testing?

[2016-09-26 01:50] koconnor719 opened #64 "Veteran Quotes"
if we want to provide some ###Veteran quotes somewhere on landing page, here are 2:

- “I’ve tried to fill out the 10-10EZ [VOA] so many times it’s like ridiculous…some Veterans don’t have the finances to upgrade to a computer that carries the most recent version of Adobe…I called the VA and the woman told me, after she had me on hold, that she couldn’t help me.”

- “This [vets.gov online health c

[2016-09-26 12:08] robertfairhead commented on #40
Added saving and delivery time tiles. Before screenshot was placeholder. Will update when before shot is provided.

[2016-09-26 12:08] robertfairhead commented on #41
Updated metric tiles and screenshots.

[2016-09-26 12:13] robertfairhead commented on #42
Removed ITT, updated language with realtime, added release cycle tile

[2016-09-26 12:13] robertfairhead commented on #43
Updated cost per year, daily submissions, and minutes to complete tiles

[2016-09-26 12:14] robertfairhead commented on #44
Added new after screenshot, third tile on Google maps integration

[2016-09-26 12:24] robertfairhead commented on #46
Added mobile screenshots.

[2016-09-26 12:28] robertfairhead commented on #49
Do you want left as coming soon per chris's original or do you want to make it flippable?

[2016-09-26 12:29] robertfairhead commented on #52
In the end i stayed with Chart.js but made the tabs horizontal to fix the resizing issues.

[2016-09-26 12:29] #52 closed

[2016-09-26 12:29] robertfairhead commented on #55
Addressed in other issues

[2016-09-26 12:29] #55 closed

[2016-09-26 12:31] robertfairhead commented on #58
All updates should applied except for adding page views.

For that:

- Do you want it only on the overall page or all of them?
- What order do you want the three metrics listed in (page views, users, mobile usage)?
- What terminology do you want to use to refer to each (current site traffic would be ambiguous between users and page views)?

[2016-09-26 12:34] robertfairhead commented on #60
Updated screenshots with benefits rating search and 1-click metric tile

[2016-09-26 12:35] robertfairhead commented on #64
do you want these added? If so on which page to replace what given the 3 tile limit.

[2016-09-26 12:53] robertfairhead commented on #34
Added migration metric tiles

[2016-09-26 14:04] gnakm commented on #58
@koconnor719 Prescription Refill - Responsive web design and easier prescription experience.

[2016-09-26 14:28] koconnor719 commented on #46
pls. use this image (with name of drug--rather than "drug 2"

@robertfairhead

https://files.slack.com/files-pri/T03FECE8V-F2FTMF9J7/screen_shot_2016-09-26_at_9.37.01_am.png

[2016-09-26 14:29] koconnor719 commented on #46
<img width="183" alt="screen shot 2016-09-26 at 9 37 01 am" src="https://cloud.githubusercontent.com/assets/13770771/18838066/0980734a-83d4-11e6-8e92-9119194cc6f3.png">

[2016-09-26 14:31] koconnor719 commented on #46
on prescriptions card, change the sentence to "Veterans can refill their VA prescriptions from any device"

  The "any device" part is more preference so could go either way, but changing "medicine" to "VA prescriptions" does seem to make it more accurate.

[2016-09-26 14:32] koconnor719 commented on #46
we need 2 more metrics on this card?

[2016-09-26 14:37] koconnor719 commented on #64
@robertfairhead yes--what do you and danny think??  i think add them on main page--maybe put a blue box (lighter blue?) somewhere where there is space around the other boxes called "Veteran Feedback" ??

[2016-09-26 14:37] cmgiven commented on #46
If referencing my original post, I was just flagging that we needed additional information about two of the proposed metrics.

[2016-09-26 14:38] koconnor719 commented on #58
@gnakm is this a comment in general of for prescription page?

[2016-09-26 14:40] koconnor719 commented on #58
@robertfairhead i think the main page for the page views pls. i think the tabs should go in the following order:

1. users
moble
page views (i think page views is least telling--but will be highest number:)

i'll defer to @staceylanger on that.

k

[2016-09-26 14:44] koconnor719 commented on #46
this would be a target metric:  Convert VA call center phone refills (more than 2M / year) to online prescription refills.

[2016-09-26 14:46] gnakm commented on #58
@koconnor719
RE: Prescription Refill - need a better sentence here. i will work on . (@gnakm any really big design improvements you can think of to call out in 1 sentence?)

The responsive part of prescriptions is a major improvement but since responsive web is a general improvement for Vets.gov maybe it would be better to highlight that the new Rx refill design is cleaner and easier to use for Ve

[2016-09-26 14:51] koconnor719 commented on #58
agreed:)  but we need some data to support that.  we are trying to SHOW why we are better--not just TELL:)

[2016-09-26 18:26] robertfairhead commented on #46
Updated screenshot; tagline/metric language; and added call center metric

[2016-09-26 18:27] robertfairhead commented on #58
added page views to main page and added to automated data pull scripts

[2016-09-26 23:12] koconnor719 opened #67 "9.26 notes"
@robertfairhead

landing page
- can we use the exact number of 582,000?  the metric is for ONLINE % of applications....so only add "online" to the before and after ; 10% were online in 2015; but 50% are projected online in 2017:)
- traffic: add tab 3 for page views (just on homepage)
- is there any room to add under 508 accessibility "improved experience for blind Veterans"?  i'll leave to your ju

[2016-09-26 23:19] koconnor719 commented on #60
replace the after screenshot w/ this one (with relevant results:)  the one that's currently show has careers and employment first--if this is really happening than our search is not working???  can you guys pls. check this?  that should not be top result right?  @dannychapman

![screen shot 2016-09-26 at 7 17 41 pm](https://cloud.githubusercontent.com/assets/13770771/18855087/0feeafcc-841e-11e6-82

[2016-09-26 23:20] koconnor719 commented on #41
this page looks good in terms of the data:)

[2016-09-26 23:22] koconnor719 commented on #42
@robertfairhead  needs a third metric:

- Provides Veterans with performance measures on schools.

[2016-09-26 23:23] koconnor719 commented on #44
looks good!

[2016-09-26 23:25] koconnor719 commented on #48
@akainic  or @cweber can you pls post our best screenshot here for EDU 1990 form for Bob to put in scorecard:)  it doesn't have to be final it just needs to look really great:)  (fyi here's the page:  https://adhocteam.github.io/vets.gov-status/boards/eduapply.html )

[2016-09-26 23:27] koconnor719 commented on #48
ok, for metrics:

- mitigated security issues on legacy site (VONAPP)
- improved design and Veteran user experience
- Quote from usability testing

(we could also highlight mobile here--but can't do this in too many places:)

[2016-09-26 23:32] koconnor719 commented on #43
@robertfairhead

for cost per year, let's say $30K (having both be 8's is weird)--and i recalculated this:)

per anne's comment, let's replace third metric (minus to complete) with the following:

30,000 online applications in 60 days

[2016-09-26 23:36] koconnor719 commented on #46
can we use a more exact number for call center calls 2,1M calls?  (i just got the real number 2,117,253).

we need a third metric here--let's ask stacey tomorrow:)

[2016-09-26 23:40] koconnor719 commented on #49
@robertfairhead  let's build this one out please:)

here are the metrics:
- 90 day release cycle before; 7 after
-improved availability (need this before number from josh q--i don't know it) i'll slack him.
- reduce call center calls on claims/appeals of 1.5M calls per year
-

[2016-09-26 23:45] koconnor719 commented on #45
another potential metric:

- improved content to reduce non-crisis calls to VCL

[2016-09-27 00:01] akainic commented on #48
@koconnor719 @robertfairhead Does one of these screenshots work? One just includes the Vets.gov banner and the other does not. I tried to include questions in the screenshot that are particular to the education form (benefit selection).

<img width="1305" alt="screen shot 2016-09-22 at 9 23 40 am" src="https://cloud.githubusercontent.com/assets/3886085/18855841/ee24dba4-8423-11e6-9087-21f37c1c245a

[2016-09-27 00:49] dannychapman commented on #64
I am happy to style this one. @robertfairhead if you want to stub them out on a branch I can pick up and finish the styling. I'd consider moving it a bit lower down the page though, it's nice to get more of the stats, and the dashboard elements up front. Perhaps we could put it before migration status?

[2016-09-27 00:52] dannychapman commented on #60
@koconnor719 In this case, if you type disability ratings, it is the first result. My suspicion here is that since we don't map keywords like "benefits ratings" to disability ratings, the search is unable to cross reference the two. This is part of a larger conversation we need to have with the DigitalGov Search team, and internally in terms of meta data.

[2016-09-27 00:54] dannychapman commented on #60
@koconnor719 Not sure about specific metrics, since both VA.gov and vets.gov both use DigitalGov search. Display is largely similar too.

[2016-09-27 10:44] koconnor719 commented on #48
Thx Anne!!! These r great!

Sent with Good (www.good.com)

-----Original Message-----
From: Anne Kainic [notifications@github.com<mailto:notifications@github.com>]
Sent: Monday, September 26, 2016 08:01 PM Eastern Standard Time
To: department-of-veterans-affairs/vets.gov-status
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets.gov-status] Education Applic

[2016-09-27 12:22] robertfairhead commented on #42
Added third metric

[2016-09-27 12:22] #44 closed

[2016-09-27 12:26] robertfairhead commented on #43
Updated to $30k and replaced third metric

[2016-09-27 12:27] robertfairhead commented on #46
Updated to 2.1M calls

[2016-09-27 12:32] robertfairhead commented on #49
updated metrics and added placeholders for screenshots

[2016-09-27 12:36] robertfairhead commented on #45
Added new metric tile

[2016-09-27 12:38] robertfairhead commented on #60
@dannychapman VA.gov does not use DigitalGov search by default. Default search engine is an internal one. You can click a link off the VA search page to get DigitalGov search results for VA, but the user has to take that action.

[2016-09-27 12:39] robertfairhead commented on #60
Updated screenshot

[2016-09-27 12:39] dannychapman commented on #60
@robertfairhead ah! good to know. I stand corrected. Do you know if it is a Google search appliance? If so, we could put something together around that in terms of metrics.

[2016-09-27 12:41] robertfairhead commented on #60
I don't know off-hand what VA.gov uses.

We do have vets.gov search metrics from DigitalGov. I will take a look there after I'm done with the other updates and see if I can pull in two other tiles here.

[2016-09-27 12:49] robertfairhead commented on #48
Added tiles and screenshot. Quote tile is still a placeholder for now.

[2016-09-27 12:55] robertfairhead commented on #67
Updated to 582k and clarified online. Added page view tab (just homepage). Updated 508 language. Added link to existing migration dashboard.

[2016-09-27 13:06] koconnor719 commented on #60
@staceylanger need to confirm we will achieve 1-click access to top 100 search terms.  this is actually on our reporting dashboard as an explicit metric:)

[2016-09-27 13:09] koconnor719 commented on #60
thx @dannychapman the metric marina defined a while ago was 1-click access to the top VA.gov searches:)

[2016-09-27 13:09] dannychapman commented on #60
@koconnor719 Yep, makes sense. Thanks!

[2016-09-27 13:15] robertfairhead commented on #60
i added two other metrics tiles based on DigitalGov data for vets.gov just to fill it out for the review today.

[2016-09-27 13:20] koconnor719 commented on #40
@robertfairhead per comment above on VR&E (before screenshot)--that's not employment center:)  we'll need a different before screenshot for VEC. @gnakm was design lead on that--hopefully she has an old one she can dig up??  (help gina!)

[2016-09-27 13:39] suzchap commented on #45
I can't think of anything else but will continue to think on it. Looks great!

[2016-09-27 13:52] suzchap commented on #49
![ebenefits_claim_status](https://cloud.githubusercontent.com/assets/11219417/18876517/06962cdc-8498-11e6-8fc4-765edb2bcae7.png)

Here's a "before" and I'll get some temporary "afters" from mel...

[2016-09-27 13:55] koconnor719 commented on #49
Thank you!!!

From: Suzanne Chapman <notifications@github.com<mailto:notifications@github.com>>
Reply-To: "department-of-veterans-affairs/vets.gov-status" <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 27, 2016 at 9:52 AM
To: "department-of-veterans-affairs/vets.gov-status" <vets.gov-status@noreply.github.com<mailto:vets.gov-status@noreply.github.com>>
Cc: Departm

[2016-09-27 14:13] robertfairhead commented on #49
Added the before screenshot

[2016-09-27 14:55] koconnor719 commented on #40
@robertfairhead found our VEC Before screenshot--thanks to emdash!

<img width="705" alt="screen shot 2016-09-27 at 10 53 34 am" src="https://cloud.githubusercontent.com/assets/13770771/18879048/f30654ea-84a0-11e6-8af3-c61dab9bc841.png">

[2016-09-27 14:58] robertfairhead commented on #40
Added the before screenshot

[2016-09-27 15:36] suzchap commented on #49
![mobile-status](https://cloud.githubusercontent.com/assets/11219417/18880622/83b698b0-84a6-11e6-98cb-7dcb3afd0698.png)
![desktop-status](https://cloud.githubusercontent.com/assets/11219417/18880623/83b7ad9a-84a6-11e6-89f0-99fefca54d3a.png)

(these are constantly changing so we'll need to swap them out once this is launched)

[2016-09-27 15:54] robertfairhead commented on #49
Added after screenshot

[2016-09-27 16:22] koconnor719 commented on #49
ty:)

[2016-09-27 17:53] koconnor719 opened #70 "9.27 Notes"
- internal audience only for first release
- no password; not limited to network
- i owe you updates on the following metrics: education, HCA, MHV, SM.
- i owe you disclaimer, (same one on vets.gov pls)  This site is a work in progress (https://www.vets.gov/playbook/design/)
- make the teeny font size a little bigger
- capitalize "i" in improved experience for blind veterans
- correct spelling of

[2016-09-27 17:56] koconnor719 commented on #41
sorry bob, mary ann sent me a better "before" screenshot pls:)

![](https://files.slack.com/files-pri/T03FECE8V-F2GJW4W5T/pasted_image_at_2016_09_27_01_16_pm.png)

[2016-09-28 00:12] robertfairhead commented on #41
I added that in as the "after" for content

[2016-09-28 01:36] robertfairhead commented on #64
I added in a veterans research section on the main page above the migration status field.

@dannychapman welcome thoughts on styling. it's a little repetitive with the migration.

it links through to a research page that could also use a look.

[2016-09-28 01:40] robertfairhead commented on #70
Added disclaimer; embiggened the font; capitalized the "i"; fixed access typo; added initial feedback row (danny to clean up tomorrow); new content screenshot; removed benefits navigator; removed new labels; adding coming soon to just 4

[2016-09-28 01:45] #40 closed

[2016-09-28 01:45] #42 closed

[2016-09-28 01:45] #43 closed

[2016-09-28 01:45] #45 closed

[2016-09-28 01:46] #46 closed

[2016-09-28 01:46] #47 closed

[2016-09-28 01:46] #48 closed

[2016-09-28 01:46] #49 closed

[2016-09-28 01:46] #58 closed

[2016-09-28 01:47] #60 closed

[2016-09-28 01:48] #67 closed

[2016-09-28 01:49] robertfairhead commented on #62
Demo'd today

[2016-09-28 01:49] #62 closed

[2016-09-28 19:10] maryannbrody commented on #41
@robertfairhead Can we please change the main sentence from "100% content rewritten in plain language..." to this:

"We create content to help users accomplish their goals — using words that Veterans know and understand. We develop and prioritize content based on data from user research, VA call centers, and website analytics."

cc/ @koconnor719

[2016-09-28 19:17] MarinaMartin commented on #70
I'd like to suggest flipping the order of the detail page, put the key accomplishment grey boxes at the top and the before/after visual on the bottom.

[2016-09-29 22:37] robertfairhead commented on #70
swapped key accomplishments to top and before/after screenshots to the bottom and added a title for the section

[2016-09-29 22:38] robertfairhead commented on #41
@maryannbrody 👍 updated it. take a look; the second sentence makes it a bit taller than the other tiles.

[2016-09-29 22:41] robertfairhead commented on #70
added row for veteran feedback and detailed page for additional quotes

[2016-09-30 15:25] robertfairhead commented on #70
started work with DevOps on deployment: https://github.com/department-of-veterans-affairs/devops/issues/684

no password; no restrictions on access.

[2016-09-30 21:05] koconnor719 commented on #41
@maryannbrody @robertfairhead

bob, i think what mary ann wanted was to add that long text above  to replace the back of card metric to replace "100% plain language"  .  not put all that text on front of card:)  (we want to stick to 1 sentence on front of all cards.)

for the short front sentence on card, let's say "More than 500 pages of content rewritten using plain language guidance."

mary ann

[2016-09-30 21:13] koconnor719 opened #72 "add sec bob blog post"
this is a risk mitigation in case the scorecard link gets released externally (if we don't password protect it) we want to make sure we position the scorecard as part of / pertaining to a "beta" site--just like we did w/ vets.gov.

https://www.vets.gov/2015/11/11/why-we-are-designing-in-beta/

link should be called same thing, "Message from the Secretary"  and @dannychapman will know where best to

[2016-09-30 21:16] koconnor719 opened #73 "link to vets.gov?"
@dannychapman should there be a link somewhere on dashboard homepage  to vets.gov website homepage?  i know we have links within the cards to the specific pages.

defer to whatever you think; just wanted to raise suggestion here since i didn't see one?

[2016-09-30 21:18] koconnor719 opened #74 "top row grey boxes w/ metrics are different sizes?"
![screen shot 2016-09-30 at 5 18 43 pm](https://cloud.githubusercontent.com/assets/13770771/19007260/f6aa20ca-8731-11e6-9273-1d98c871e546.png)

[2016-09-30 21:19] koconnor719 commented on #74
box size looks different; and text doesn't seemed aligned in titles?

[2016-09-30 21:21] koconnor719 opened #75 "facility locator Search, Display and Pins"
can we center this metric box content?  OR if all metrics are left aligned--(this is what it appears to be on others too) and that's the design best practice--i'll defer to @dannychapman .

just looked odd being left aligned:)

![screen shot 2016-09-30 at 5 21 00 pm](https://cloud.githubusercontent.com/assets/13770771/19007310/526e2bb8-8732-11e6-8a91-71fb10dff2af.png)

[2016-09-30 21:24] koconnor719 commented on #75
should this also be aligned on page (the mobile screenshot more to the right?)

![screen shot 2016-09-30 at 5 24 02 pm](https://cloud.githubusercontent.com/assets/13770771/19007386/cc891728-8732-11e6-968e-971276dd4be3.png)

[2016-09-30 21:28] koconnor719 opened #76 "facility locator GA traffic"
will we add traffic on   FL ?  appears to be missing.

[2016-09-30 21:30] koconnor719 opened #77 "GA info on GI Tool, VEC and HCA needs "page views""
missing third tab?  if this is hard to do don't worry about it for initial release...but just pointing out missing.

![screen shot 2016-09-30 at 5 30 24 pm](https://cloud.githubusercontent.com/assets/13770771/19007559/9b0fd406-8733-11e6-81e4-8fdce56f198e.png)

[2016-09-30 21:34] koconnor719 opened #78 "health care application - remove $$"
on back of card metric replace the Cost per year metric with the following before / after one:

10% online applications in 2015 (before)
50% online applications projected for 2017 (after)

[2016-09-30 21:34] dannychapman commented on #75
I think we should keep these left aligned for now. I will remove the drop shadow to make it align a little better.

[2016-09-30 21:35] koconnor719 commented on #75
Sounds good

Sent with Good (www.good.com)

-----Original Message-----
From: Danny Chapman [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, September 30, 2016 05:35 PM Eastern Standard Time
To: department-of-veterans-affairs/vets.gov-status
Cc: O'Connor, Kelly A.; Author
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets.gov-status] facility locator Search, Displ

[2016-09-30 21:45] koconnor719 opened #79 "HCA metric"
this is  a nit pic--but important in order to be accurate for the data:

for the before and after daily submissions (super important metric), the before is specific to one system called "VOA" (veteran online application) so we need a qualifier in the before metric..b/c there was another rogue online system that had 192 submissions / day--these weren't automated tho, they went to a manual process..

[2016-09-30 21:50] koconnor719 opened #80 "search box sizes"
box are different sizes

![screen shot 2016-09-30 at 5 49 59 pm](https://cloud.githubusercontent.com/assets/13770771/19008017/59445008-8736-11e6-93b4-a37c5ae68da5.png)

[2016-09-30 21:50] koconnor719 commented on #80
will the first box (total searches) auto update?  or will ad hoc analytics person update manually?

[2016-09-30 21:58] koconnor719 opened #81 "education application quote"
heres' the quote for this metric:

Veteran User 1:  [on old system]  It was a lot more writing. Everything was... not put together, but it was close together. So it was kind of jumbled up.   [on vets.gov] This is very spread out, which I like. I like that. There is no confusion.

Veteran User 2: [vets.gov] It’s really simple. It’s like, [barney] proof. Military people love that. They love that.

!

[2016-09-30 22:03] koconnor719 opened #82 "claim status after screenshot"
@suzchap is there a  more recent screenshot we can include with the language on the phases modified; i know these are in process:) ?

if you or mel can post something on Monday by COB we can add it to the scorecard:)

![screen shot 2016-09-30 at 6 03 28 pm](https://cloud.githubusercontent.com/assets/13770771/19008288/36512bb4-8738-11e6-8d72-723385f26145.png)

[2016-09-30 22:09] koconnor719 commented on #59
talked to courtney and have a number; can we replace the first metric (search locations and services since we already say this on front) with the following

Improved experience for blind Veterans; "Improved 79 design items that were accessibility challenges on the previous locator."

can the icon/focus of this box be around blind Veterans--with a small note w/ the numbers and sentence above?  acce

[2016-09-30 22:19] koconnor719 opened #83 "claim status metric site reliability"
so good news and bad:  we have a before metric--but i think it's just too low to even use:  76% availability. bad news is this will constrain us--so we can't say 99.99% here.

let's just say "improved availability" and have an icon??  if you have better ideas let me know:)

keep in mind this may get forwarded externally so we want to be conscious of that.  accurate but i don't want to throw a team

[2016-09-30 22:22] koconnor719 opened #84 "veteran employment center"
remove "added nov 2015"

![screen shot 2016-09-30 at 6 21 55 pm](https://cloud.githubusercontent.com/assets/13770771/19008677/dcdd63ba-873a-11e6-8b23-9872d8bb6609.png)

[2016-09-30 22:25] koconnor719 opened #85 "veteran employment center card change (front and back)"
let's change front card sentence to,  "Saved VA $14M+ in vendor estimated costs by delivering the product for just $9K (in two (2) weeks) that consolidated 40 Veteran employment sites.

and all 3 metrics please per marina's wealth of info!!

1 Cost Savings :   "Vendor cost estimate" $14M / vets.gov actual launch cost $9K

2. TCO (total cost of ownership) savings:  "Vendor charge to VA to change a

[2016-09-30 22:30] koconnor719 opened #86 "veteran employment center front card sentence"
if we can get the # from @MarinaMartin , i'd love to use the following sentence on front of card:

"Consolidated XXX websites to a single site focused on Veteran employment.

[2016-09-30 22:48] koconnor719 commented on #85
change the front card sentence to: "Saved VA $14M"

[2016-09-30 22:55] koconnor719 opened #87 "GI tool metrics and front sentence"
Change front card sentence to, "A $1M Non-Functional Vendor Prototype was replaced by a $50K working product launched in two (2) weeks.

[2016-09-30 22:55] koconnor719 commented on #86
repeat

[2016-09-30 22:55] #86 closed

[2016-09-30 22:57] koconnor719 commented on #85
this card might be my favorite.

[2016-09-30 23:08] koconnor719 opened #88 "secure message before and after"
@angel can you get @robertfairhead   some good "before " and "after" screenshot for SM on Monday if you have time?  they don't have to be final:)

pls. pick the worst before possible:)  thanks.  this is for our scorecard fyi.  https://adhocteam.github.io/vets.gov-status/boards/securemessaging.html

@ayaleloehr fyi; no action unless you have any other metrics you want to highlight

[2016-09-30 23:16] koconnor719 opened #89 "general font size - make readable for those over 40 pls:)"
@dannychapman can we increase the tiniest font size on the blue boxes and some of the text in headings ...it's soooo small--and those are the most compelling sentences about the products?   i know i'm old but i really can't read it easily--and i've gotten that feedback when i demo the site to other geezers like me as well:)

![screen shot 2016-09-30 at 7 15 35 pm](https://cloud.githubusercontent.c

[2016-09-30 23:19] koconnor719 commented on #84
i see this info on other cards so it's deliberate.  ok pls leave in:)

[2016-09-30 23:19] #84 closed

[2016-09-30 23:26] koconnor719 opened #90 "boxes being clickable"
@dannychapman is there any other design element you can add to boxes to make them look clickable--i see the arrow--but barely.  totally defer to you--just passing on 1 users feedback .  is it terrible design to put that little triangle in upper corner that looks like a page flip? or those little "more >"  ?  (don't mock this if it's a known worst practice--i hate citing design elements i like b/c

[2016-10-01 00:00] koconnor719 commented on #64
@maryannbrody unless you have any other quotes?  i think we can close this one.

[2016-10-01 00:02] koconnor719 commented on #70
this looks like all done to me--other than confirmation decision on no password; i emailed martin to review final site after Tuesday COB 10/4 so it will have all changes. he'll confirm w/ us on Wed 10/5

[2016-10-03 00:01] koconnor719 opened #91 "check mobile view"
some text is getting cutoff ("dashboard" in title) and graphs are appearing w/ lines out of place

[2016-10-03 12:12] robertfairhead commented on #41
I added in the shorter tag for the front of the card and replaced the 100% plain language tile with the sentences from mary ann. the resulting tile is a bit long as well.

![screen shot 2016-10-03 at 8 11 24 am](https://cloud.githubusercontent.com/assets/6646098/19036899/00e1b920-8941-11e6-8f98-0fa3b28e9fc0.png)

I'd suggest we use those two sentences either in the blue header section or as a subh

[2016-10-03 12:13] robertfairhead commented on #59
Updated facility locator scorecard with 79 accessibilities issues tile

[2016-10-03 12:14] robertfairhead commented on #64
I added the two additional quotes from Edu Applications. Closing now but feel free to open a new one with more quotes.

[2016-10-03 12:14] #64 closed

[2016-10-03 12:14] robertfairhead commented on #72
Added this to existing notice banner at the top since it was already there.

[2016-10-03 12:15] #72 closed

[2016-10-03 12:15] robertfairhead commented on #73
The VA | Vets.gov header logo is a link to vets.gov

[2016-10-03 12:15] #73 closed

[2016-10-03 12:18] robertfairhead commented on #74
This is fixed, but any further changes to the layout of the tiles (e.g., font sizes, alignment, etc.) will mess them up again. Maybe consider going with white background so that the height disparities are not so obvious?

![screen shot 2016-10-03 at 8 17 27 am](https://cloud.githubusercontent.com/assets/6646098/19037017/e38bda8a-8941-11e6-98fd-907e10350cde.png)

[2016-10-03 12:27] robertfairhead commented on #76
Facility locator traffic was not separated from overall site traffic until I reconfigured it last week (per my Slack message on Friday). It does not have historical data so will only begin collecting as of last week. We should wait a couple weeks before displaying so that a few data points are present on the graphs, unless you're certain you'd like to display partial data.

[2016-10-03 12:28] robertfairhead commented on #77
Per your decision in #67, i added it to homepage only. I have gone back and added it to the other pages.

[2016-10-03 12:28] #77 closed

[2016-10-03 12:29] robertfairhead commented on #78
I swapped in this metric tile

[2016-10-03 12:29] #78 closed

[2016-10-03 12:29] robertfairhead commented on #79
Replaced Before with Veteran Online Application

[2016-10-03 12:29] #79 closed

[2016-10-03 12:31] robertfairhead commented on #80
Fixed sizing per #74 unless you make further changes to them.

First and third boxes will be manual updates. It takes about 10 minutes once per month to update. Can be automated but low priority given low effort required at this point.

[2016-10-03 12:32] robertfairhead commented on #81
Added the quote tile here and both onto the veteran research page per #64

[2016-10-03 12:32] #81 closed

[2016-10-03 12:33] robertfairhead commented on #83
Added a general improved reliability tile.

[2016-10-03 12:33] #83 closed

[2016-10-03 12:47] robertfairhead commented on #85
Updated the text on front/back of card. I had to trim it down a bit to fit on front of card. Updated all featured metric tiles.

[2016-10-03 12:49] robertfairhead commented on #87
Updated the text

[2016-10-03 12:49] #87 closed

[2016-10-03 12:57] robertfairhead commented on #89
@kellyo the issue with increasing the font sizes is that we need to maintain a minimum number of characters per line so that the text remains easily readable.

Standard guidance is to aim for ~50 characters per line for body copy (e.g., non-headlines), cf. http://baymard.com/blog/line-length-readability among many others. We already pushed the font size up one the text inside the tiles so that we'

[2016-10-03 13:04] robertfairhead commented on #90
@kellyo @dannychapman current best practice is to minimize the "click-ability" affordances on websites because most users are very familiar with clicking on elements at this point. The standard ways to indicate "click-ability" now are to change on hover and use a rounded border edge (to suggest a button/tile/card), in-line with the design of vets.gov

Adding another more obtrusive element makes th

[2016-10-03 13:08] robertfairhead commented on #91
Once the overall design is settled, especially #89 with its implications for a general redesign, we will do a final sweep to fix the layout issues. We have done one once before but the subsequently requested changes to the desktop view broke the mobile view again.

In order to maximize the efficiency on it, we would greatly prefer to avoid making further time-consuming, manual tweaks to fix the mo

[2016-10-03 13:17] koconnor719 commented on #41
the text is too long. can we do something here that's inconsistent w/ rest of cards:  put the long text in the blue box above (as you suggest)  but NOT have it appear on front of card (leave that to be the 500 pages thing...)  and then in the third metric box replace the long text w/ "500" and have the title be "plain language" and the text below be " pages of content rewritten using plain languag

[2016-10-03 13:18] koconnor719 commented on #90
ok, whatever you guys think.

[2016-10-03 13:19] koconnor719 commented on #89
i leave to you all, but it's really small.  i don't want to redesign the whole thing...so if you can address it great and if not just do what you think.  but it's super hard to read...

  @staceylanger

[2016-10-03 13:22] koconnor719 commented on #74
i defer to you guys on this.

[2016-10-03 13:25] koconnor719 commented on #91
you guys can decide the font issue--and if anything can be done to improve readability --without a whole lot of work of that point....  pls. just keep in mind going forward not all users can read this size font we are using.  i'm assuming that's not a great user experience.

let's not do big redesign on this now--but can we pls. factor that into our style guide considerations for the future??  @st

[2016-10-03 13:27] koconnor719 commented on #85
looks good!

[2016-10-03 13:28] koconnor719 commented on #76
got it!  no need for partial data.

[2016-10-03 13:41] dannychapman commented on #91
I think we should keep the font size as-is. It's currently at 16px, which is a good industry standard for body text. In addition, this matches perfectly with both Vets.gov and USDS.

[2016-10-03 13:42] dannychapman commented on #91
I will update the mobile header, but it's not worth touching until we refactor the dashboard using Vets.gov styles - this will take care of the header issue.

[2016-10-03 13:49] suzchap commented on #82
![desktop-status](https://cloud.githubusercontent.com/assets/11219417/19039622/b9ba20a6-894e-11e6-9a4f-c2fa9ed0a043.png)

[2016-10-03 14:02] robertfairhead commented on #41
@koconnor719 yes, definitely. i will make that update this afternoon.

[2016-10-03 15:39] maryannbrody commented on #59
@koconnor719 @robertfairhead Let's say "Veterans who are blind or have low-vision" -- good practice to state the person (Veteran) before the disability (blind) when writing about disabilities since we are all people first.

One question I have is about the 100% improved experience.. -- how did we measure for that? I'm a little concerned that that is not the whole truth. 508-compliance is the tip o

[2016-10-03 20:16] angel commented on #88
@koconnor719

### Inbox:
Before:
![secure messaging - inbox](https://cloud.githubusercontent.com/assets/103496/19051966/dc72f9c2-8969-11e6-8c45-e74d17769fb5.png)
After:
![inbox](https://cloud.githubusercontent.com/assets/103496/19051997/e96f1db8-8969-11e6-8f66-021482a2d2c3.png)

### New message:
Before:
![secure messaging - new message](https://cloud.githubusercontent.com/assets/103496/19052233/e3

[2016-10-03 20:17] koconnor719 commented on #88
thx @angel !!

[2016-10-03 22:26] robertfairhead commented on #41
Left front of card the same. Made the description on detailed page be the longer, two sentence version. added the new third tile.

[2016-10-03 22:26] #41 closed

[2016-10-03 22:34] robertfairhead commented on #59
I updated the language on the facility locator page to match Mary Ann's guidance and changed the metric tile on the main dashboard

[2016-10-03 22:34] #59 closed

[2016-10-03 22:35] robertfairhead commented on #74
Ok, left the color boxes. Agree it adds to the visual attraction. Will continue to police that all remain the same as changes are made. Hopefully it will occur less frequently after the main design is settled.

[2016-10-03 22:35] #74 closed

[2016-10-03 22:35] #75 closed

[2016-10-03 22:36] #76 closed

[2016-10-03 22:36] robertfairhead commented on #80
Updated with September data.

[2016-10-03 22:36] #80 closed

[2016-10-03 22:40] robertfairhead commented on #82
Updated after screenshot

[2016-10-03 22:40] #82 closed

[2016-10-03 22:41] #85 closed

[2016-10-03 22:45] robertfairhead commented on #88
Added before/after screenshots. Used the message detail view.

[2016-10-03 22:45] #88 closed

[2016-10-03 22:47] #90 closed

[2016-10-03 23:05] robertfairhead commented on #89
We increased the font sizes everywhere noted above but in the tiles, for the reasons noted above those pose a specific problem with respect to characters per line.

We could make the text in the tiles taller but would have to make the font thinner to counter balance. Screenshots below.

<img width="1189" alt="screen shot 2016-10-03 at 6 59 01 pm" src="https://cloud.githubusercontent.com/assets/664

[2016-10-03 23:15] robertfairhead commented on #73
Transitioned this to the footer from the header because in testing it became confusing. The dashboard header did not return to the dash main. Will change when moving to public vets.gov styles.

[2016-10-03 23:54] robertfairhead commented on #91
I increased font sizes per #89 excepting the tile text, which remains at the 16px standard pending a decision on trading off text size for font width. As noted the font changes we do now will be undone when transitioning to vets.gov styles for public deployment.

We made some corrections to address the most egregious rendering issues on mobile (dashboard and lines in graphs), but highly suggest we

[2016-10-04 00:28] koconnor719 commented on #89
thx so much for trying something...i think we should just stick w/ the vets.gov styles as you suggest.  .i think the thin font is not any easier to read. but thx again for trying something else...i guess old people will just have to zoom in:)  thx!!

[2016-10-04 13:13] #89 closed

[2016-10-04 13:13] #91 closed

[2016-10-07 13:56] robertfairhead opened #98 "Refactor and Clean-up Liquid Templates"
For the sanity of those having to deal with this in the future, I need to clean up the liquid templates for boards to make them easier to understand and remove some the unneeded elements

[2016-10-12 01:08] robertfairhead commented on #70
Confirmed no password.

[2016-10-12 01:08] #70 closed

[2016-10-15 00:41] koconnor719 opened #101 "education appliction"
pls. edit the metric with the veteran quote--can we take the "barney" part out--that seems kind of offensive after reviewing.  so it would just be "It's really simple...Military people love that. They love that."  if we use the ellipsis it's still accurate.

  also there's a weird character thing happening with  a "tm".

![screen shot 2016-10-14 at 8 40 44 pm](https://cloud.githubusercontent.com/a

[2016-10-19 12:48] koconnor719 commented on #101
@robertfairhead hi bob we are demoing this to VA leadership and widely distributing the URL--do you know when this error above can be fixed pls:)

[2016-10-24 14:36] robertfairhead commented on #101
Looks like it's a Safari only issue where it thinks it's Latin-1 versus UTF-8 encoding. I'll add a meta tag that should sort it out and remove the barney part

[2016-10-24 15:07] robertfairhead opened #102 "Automate Monday GA data pulls"
Currently the python script to update the data from Google Analytics to power the charts must be run manually. This should be automated with DevOps in the future.

[2016-10-24 15:07] robertfairhead commented on #15
Moving automated data updates to it's own issue #102

[2016-10-24 15:07] #15 closed

[2016-10-24 15:07] #13 closed

[2016-10-24 15:09] #101 closed

[2016-10-26 00:54] #98 closed

[2016-11-18 14:07] koconnor719 opened #121 "Make design edits on cards to show they are clickable"
@dannychapman per our slack, many of the users of scorecard aren't immediately getting they can click on the cards--can you make them more obviously clickable--like a "more" thing or something:)  thank you!

[2016-12-06 18:14] robertfairhead commented on #121
This was merged and deployed into production last week. No issues since then so closing it out.

[2016-12-06 18:14] #121 closed

[2016-12-08 14:53] robertfairhead commented on #102
Automation script in place. should run automatically on mondays to create PR for updated data.

[2016-12-08 14:53] #102 closed

[2016-12-13 19:18] robertfairhead commented on #34
copied migration status page into our repo as is to prevent any dead links if the random EC2 box that used to host it gets taken down in #148

per @koconnor719 no additional engineering work to be expended on this.

[2016-12-13 19:18] #34 closed

[2017-01-17 00:36] robertfairhead opened #174 "Add new forms to scorecard"
@leannammiller Can you details on what needs to be added?

[2017-01-17 00:37] robertfairhead opened #175 "Collect info for blue button scorecard"

[2017-01-17 15:14] leannammiller commented on #174
not sure what baseline analytics we have access to yet. here's the next set of forms: https://github.com/department-of-veterans-affairs/edu-benefits-team/blob/master/family-of-forms/form-usage-stats.md

[2017-01-17 15:20] robertfairhead commented on #174
Should this be own it's stand-alone card on the main list at https://www.vets.gov/scorecard/? Or would this just be more details for https://www.vets.gov/scorecard/boards/eduapply.html?

It feels to me more like the latter in that this is an expansion of the existing education application, but wanted to check if that's the direction.

[2017-01-17 16:11] leannammiller commented on #174
more details for education.

[2017-01-17 16:32] robertfairhead commented on #174
got it. once we clear out the account stuff from dev, we'll get something up for you to look at and then get kelly's approval to push to prod

[2017-02-21 15:36] robertfairhead opened #219 "Jenkins deploys failing"
@knkski the jenkins deploys seem to be failing due to a permissions issue with the S3 bucket (as best I can make out).

http://jenkins.vetsgov-internal/blue/organizations/jenkins/department-of-veterans-affairs%2Fvets.gov-status/detail/master/3/pipeline/

Shell output:

[airs_vets.gov-status_master-LZ6I6ORRVOTLYDL4YRGQCJBCKPGFP37VV4LFUJSHI57D6SJGODZQ] Running shell script
+ bash --login -c 'aws s3

[2017-02-21 16:24] knkski commented on #219
This should now be fixed

[2017-02-21 16:24] #219 closed

[2017-03-03 01:13] robertfairhead commented on #175
@mikeusdsva the initial empty board can be seen at https://dev.vets.gov/scorecard/boards/healthrecords.html

It's on the demo branch. You're welcome to edit it there or put comments here and we make the updates.

[2017-03-15 18:20] charwo opened #251 "Is it a Scorecard or Dashboard?"
Recommend editing the headline to read "Scorecard" to be consistent with URL.
![image](https://cloud.githubusercontent.com/assets/25183989/23964309/73c82964-098a-11e7-9bc0-e3bc0e6137cd.png)

[2017-03-16 15:12] robertfairhead commented on #251
fair point. i think we settled on scorecard as the name after the initial back and forth.

![screen shot 2017-03-16 at 11 10 20 am](https://cloud.githubusercontent.com/assets/6646098/24003239/52ac05ca-0a39-11e7-9100-39e2d4b75d18.png)

@koconnor719 are you ok with the change above?

[2017-03-16 15:32] #251 closed

[2017-03-16 16:20] koconnor719 commented on #251
yes! sounds good to me.

[2017-03-16 18:26] robertfairhead commented on #174
Deployed these to prod after Josh Q approval

[2017-03-16 18:26] #174 closed

[2017-04-04 19:22] robertfairhead opened #280 "Move login charts to weekly roll-ups"
They're getting very busy at the daily level now that we have a few months of data. Should move to weekly roll-ups like the other charts.

[2017-04-04 19:24] jcmeloni-usds commented on #280
Thumbs up from Julie!

[2017-04-12 18:11] robertfairhead opened #288 "Add board for "cloud""
- let’s add a “cloud” card to our scorecard.  i talked to shawn—thinking metrics would be:  $$, performance, deployment time speed
- goal on $$ is to have a metric we don’t have to constantly update

[2017-04-13 13:53] robertfairhead commented on #288
@koconnor719 Which category (Discover, Apply, Track, Manage) do you want the cloud board under? Or do you want it's own section for it like user research?

[2017-04-13 18:21] koconnor719 commented on #288
hmmmm.  it's not really any of them...what do you think?  maybe "manage" but that's just random:)

[2017-04-13 18:23] koconnor719 commented on #288
it could be one of the 6 boxes on top (that's not flippable?) if we had 1 metric?  or maybe we could squeeze 2 metrics?  i think that would be ideal.  we could replace healthcare one (since that's kind of apples/oranges since it's product specific and others are cross - cutting...

thoughts? @robertfairhead

[2017-04-13 19:35] robertfairhead commented on #288
yep, we can do that @dsh32va can you reach out to shawn (shawn.arnwine@va.gov) to get a metric or two on the cloud transition to use?

[2017-04-17 19:23] leannammiller commented on #175
remember to update this when we launch.

[2017-04-19 01:25] #280 closed

[2017-04-19 01:30] robertfairhead commented on #175
On https://staging.vets.gov/scorecard/ there's a non-functional "coming soon" card for it under "Manage"

There's a blank board for it at https://staging.vets.gov/scorecard/boards/healthrecords.html which we can update with what ever you like.

[2017-04-19 16:26] robertfairhead commented on #288
Met with Shawn yesterday.

No simple metric for cost savings b/c vets.gov costs entwined with appeals. Shawn will look to see what can come up with.

Process underway to import operation metrics (e.g,. up time) to show performance and operational benefits of cloud. Expect initial demo of metrics in 1-2 weeks.

[2017-04-24 17:12] jkassemi opened #305 "Display deployments, reachability, error rate metrics"
https://github.com/department-of-veterans-affairs/vets.gov-status/pull/291 collects information on the number of deployments, reachability, and error rate from our monitoring system.

Now we need to figure out where and how we display this information. Do we separate them? Do we highlight any on the index page? Are there any additional metrics we'd like to include?

[2017-04-25 18:20] robertfairhead commented on #175
I'm going to close this here. @leannammiller when you're ready for this to be worked with actual data we'll open a ticket in vets.gov-team with label Nebula so it can be included in our sprint there /cc @rroueche

[2017-04-28 02:22] koconnor719 commented on #288
let's just combine vets.gov and appeals...thanks for digging into this bob.  i don't understand how cloud isn't significant cost savings given what VA is paying for Austin, Terremark (i'm assuming very high given it's a FISMA High cloud env, and Azure ($500M) and CSRA cloud broker $83M...?  given general industry research data isn't cloud exponentially cheaper than gov operating it's own facility?

[2017-04-28 13:15] robertfairhead commented on #288
@koconnor719 per shawn, the incremental cost per VM for us is relatively low given the VA is already footing all the overhead of running their overall facility.

The cost per VM to us (vets.gov) was about $2k from the VA. We have about 120 instances. So cost per year is about $240k versus our $200k budget for AWS. For us, going with VA would have about 20% more expensive.

Those figures are not in

[2017-04-28 13:20] koconnor719 commented on #288
Ok thx

Sent with Good (www.good.com)

-----Original Message-----
From: Robert Fairhead [notifications@github.com<mailto:notifications@github.com>]
Sent: Friday, April 28, 2017 09:16 AM Eastern Standard Time
To: department-of-veterans-affairs/vets.gov-status
Cc: O'Connor, Kelly A.; Mention
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/vets.gov-status] Add board for "cloud" (#288)

@kocon

[2017-05-01 14:13] leannammiller commented on #175
I'll just use this ticket to track the communication around the language and what data should be used.

Tile should say:

Health Records

Veterans can view and download their electronic health records

[2017-05-01 14:25] robertfairhead commented on #175
I updated per above on staging: https://staging.vets.gov/scorecard/

Will push that update today.

Once I do, I'll close this ticket. I'll open a new one on vets.gov-team to track this (in ice-box for now). That way we can track for our Nebula sprint-planning.

[2017-05-01 14:27] robertfairhead commented on #288
Initial version on https://staging.vets.gov/scorecard/ now. I'll update data and deploy to production this afternoon. Once it's live, we'll close out this ticket. Any new tickets for further updates should be opened on vets.gov-team to allow for Nebula sprint planning going forward.

[2017-05-01 14:27] robertfairhead commented on #305
Initial version on https://staging.vets.gov/scorecard/ now. I'll update data and deploy to production this afternoon. Once it's live, we'll close out this ticket. Any new tickets for further updates should be opened on vets.gov-team to allow for Nebula sprint planning going forward.

[2017-05-01 20:49] #175 closed

[2017-05-01 20:49] #288 closed

[2017-05-01 20:49] #305 closed

[2020-03-06 21:42] karlbrown-va opened #3190 "Get unit tests running in Jenkins"
AC:
Unit Tests run and pass in Jenkins CI
Results are published to Jenkins
Coverage is calculated

[2020-03-06 22:17] ffafara-tw commented on #3190
test comment

[2020-03-08 15:18] karlbrown-va opened #3191 "Fix URLs referencing vets.gov"
The scorecard has a number of URLs referencing vets.gov.

These should be updated to point to the va.gov equivalents.

[code]

[2020-03-08 19:38] karlbrown-va opened #3193 "Get Jenkins pipeline running so we can push things to dev.va.gov"
Ensure the Jenkins pipeline builds, so pushes to the `demo` branch end up in dev.va.gov.

[2020-03-10 13:57] rumyeahs opened #3195 "Provision a new page va.gov/performance-dashboard for the new VA Performance Dashboard"
**User Story or Problem Statement**
As a member of the Office of the CTO, I need a distinct space on VA.gov that talks about Performance of va.gov so I can point senior stakeholders and other members of the VA to this space for viewing any relevant metrics of VA.gov

**Goal**

- Any member visiting the VA.gov/performance-dashboard  will see a page titled VA.gov Performance Dashboard
- Additional m

[2020-03-10 13:59] rumyeahs opened #3196 "Implement a last updated date on the page"
- This will be at a page level
- This will be most recent date across all widgets/components on the page
- Date format: Month day, year
- Schedule the update data job at 00:30 hours daily ([add cron job trigger to groovy file](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/jenkins-vetsgov/seed_job.groovy))
![vagov-dashboard-3112020](https://user-imag

[2020-03-10 14:26] rumyeahs opened #3197 "Implement VA.gov at a glance - Successful transactions - Simple UI"
**User Story or Problem Statement**
When a user visits the VA.gov at a glance section on the performance dashboard, I want to display the transactions events metrics on the portal so I can present the current statistics on the number of self serve applications filed by veterans and beneficiaries.

**Goal**

A user visiting the VA.gov at a glance section will see the number of form submissions and

[2020-03-10 17:35] philherbert opened #3198 "Get GA private key from credstash rather than source control"
**Acceptance criteria**

**When** the scripts are running on Jenkins
**And** connecting to GA to fetch data
**Then** credentials to do so are obtained from credstash
**And** the credentials are not stored in source control

**When** the scripts are running locally on a developer's machine
**And** connecting to GA to fetch data
**Then** the scripts authenticate using that developer's credentials
**

[2020-03-10 17:37] philherbert commented on #3195
https://github.com/department-of-veterans-affairs/vets-website/search?q=scorecard&unscoped_q=scorecard

[2020-03-10 21:05] philherbert commented on #3198
Re: logging in when running locally, it seems like we'll want to use a different method of configuring the `Credentials` object (like [`from_authorized_user_info`](https://google-auth.readthedocs.io/en/latest/reference/google.oauth2.credentials.html#google.oauth2.credentials.Credentials.from_authorized_user_info), which would require getting the authorised JSON object for the user), or constructin

[2020-03-11 13:31] rumyeahs opened #3201 "Implement Introductory (North star narrative) section on Dashboard"
**As a** member of the Office of the CTO
**I want to** present a well structured introduction on the Dashboard page
**so that** any visitor to the dashboard gets an understanding of the goals of the Office of the CTO and how the metrics are tracking towards them

Tasks:
- Build an introduction section on the Dashboard page
- Conform to the design guidelines as illustrated here https://design.va.go

[2020-03-11 13:45] rumyeahs opened #3202 "Implement tool level 'Transactions' metrics for Education, Disability, Burials & Pension, Profile & Records related top-used tools"
**As a** member of the Office of the CTO
**I want to** present a count of all the user activities on the various VA.gov tools
**so that** any visitor to the dashboard gets an insight into the vast userbase of VA and the frequently used services

Tasks:
* Display the count of user transactions on the specific tools, for the last 30 days, across the various Service line tiles, as illustrated below

[2020-03-11 15:12] rumyeahs opened #3203 "Implement VA at a glance - Logged in users"
**As a** member of the Office of the CTO
**I want to** present a count of all the logged in users to the various VA.gov tools
**so that** any visitor to the dashboard gets an insight into the vast userbase of VA

Tasks:
- Pull data that has the total number of all logged in users across the various VA.gov pages for the last 12 months
- This will be a rolling window for the last 12 calendar months

[2020-03-11 15:26] philherbert commented on #3198
After discussions with the team, we're going to kick the can down the road on the individual developer flow. This means:

- Get `serviceaccount.json` out of source control, pass it in from Jenkins into the container
- Developers will have to get that file themselves, keep it locally (and include it in `.gitignore`), and pass it into the scripts

[2020-03-11 15:40] philherbert opened #3204 "Nest Jekyll things under src directory"
To proceed with using additional tooling (including `formation.js`, the VA design system), it will be necessary to nest all of the Jekyll content under a directory called something like `src`.

The Jekyll content that needs to be nested includes most things starting with an underscore, e.g. `_boards`, `_includes`, `_layouts`, and also `assets`.

Notably, `_config.yml` will need to stay at the top

[2020-03-11 16:11] philherbert opened #3205 "Add an example VA accordion"
Add an accordion to the site that looks and behaves exactly like [a bona fide official VA accordion](https://design.va.gov/components/accordions).

**Tech notes**

We should include the VA styles and javascript ([`formation`](https://www.npmjs.com/package/@department-of-veterans-affairs/formation)) using one of these options:

1. (Preferred) Use npm to install the `formation` dependency, and use `

[2020-03-11 16:15] rumyeahs opened #3206 "Implement VA.gov at a glance - Successful transactions - Follow up UI modifications"
**As a** member of the Office of the CTO
**I want to** present a count of all the successful transactions on the various VA.gov tools
**so that** any visitor to the dashboard gets an insight into the vast userbase of VA

Tasks:

- Build a 'successful transactions' section within 'VA at a glance'
- Conform to the design guidelines as illustrated here https://design.va.gov/design/
- UI should be res

[2020-03-11 16:53] rumyeahs opened #3207 "Implement Burials applications - Logged in users & Successful transactions over the last 30 days"

[2020-03-11 17:20] rumyeahs opened #3208 "Implement VA.gov at a glance - CSAT scores"
**As** a member of the Office of the CTO
**I want to** present a view of customer satisfaction across various VA.gov tools
**so that** any visitor (such as a senior VA stakeholder) to the dashboard gets an insight into how the veteran experience has been with the portal

**Tasks:**
* Pull CSAT scores across all VA.gov pages, for the last 12 months from Foresee
* Specific query to pull the data is

[2020-03-11 19:22] karlbrown-va commented on #3193
we removed the gemfile/gemfile.lock  because we had difficulty getting Gemfile +
Gemfile.lock working in the CI environment - due to the need to
download new dependencies at build time (due in part to MITM at the
edge of the VA network which prevented downloading of new gems from
within Jenkins). Thus we decided it was better to avoid that altogether
and just use the exact dependencies as publishe

[2020-03-11 23:37] karlbrown-va opened #3209 "Fix js dependencies"
Currently js dependencies are checked in to github. We should use a package manager like yarn instead, and pull them in dynamically at build time.

ACs:
- all 3rd party dependencies removed from repository
- package.json set up with dependencies we need
- HTML set up to reference dependencies from node_modules
- CI scripts set up to do yarn install

[2020-03-12 00:13] karlbrown-va commented on #3205
see https://github.com/department-of-veterans-affairs/vets.gov-status/pull/3210

[2020-03-12 02:54] karlbrown-va commented on #3198
Proof of concept demonstrated - can get credentials within docker container. IAM role seems to be passed into the container inside Jenkins.

[2020-03-12 13:08] rumyeahs opened #3211 "Implement Healthcare applications - Total number of users for the last 30 days"
**As** a member of the Office of the CTO
**I want to** present a count of the total number of users <s> and successful transactions</s> to healthcare related services and tools in the last 30 days
**so that** any visitor (such as a VA Senior stakeholder) to the dashboard gets an insight into how many veterans (& beneficiaries) are seeking healthcare applications related services from VA.gov

**Tas

[2020-03-12 13:17] rumyeahs opened #3212 "Implement Header & Footer as per the new designs"
Tasks:

- Header, with a link to va.gov when clicking on the image on the left
- Footer, with no additional links for now, but a VA image as per design.
- Clicking on the image in the footer takes to va.gov

Last updated date will be built in a follow up story

[2020-03-12 14:07] rumyeahs commented on #3198
To be discussed at dev huddle reg the next steps

[2020-03-12 14:11] karlbrown-va commented on #3195
Mikki is looking at the options here.

[2020-03-12 15:50] karlbrown-va commented on #3198
We agreed to:
a) Use credstash
b) remove dependency of credstash in the python code - instead create/pass credentials outside of the python.

[2020-03-13 12:39] rumyeahs opened #3214 "Implement tool level 'Transactions' metrics for Burials and Pension related top-used tools"
**As a** member of the Office of the CTO
**I want to** present a count of all the user activities on the various VA.gov tools
**so that** any visitor to the dashboard gets an insight into the vast userbase of VA and the frequently used services

Tasks:
* Display the count of user transactions on the specific tools, for the last 30 days, across the various Service line tiles, as illustrated below

[2020-03-13 12:40] rumyeahs opened #3215 "Implement Education applications - Logged in users over the last 30 days metric"
**As** a member of the Office of the CTO
**I want to** present a count of the total number of logged in users for education applications in the last 30 days
**so that** any visitor (such as a VA Senior stakeholder) to the dashboard gets an insight into how many veterans (& beneficiaries) are seeking education benefits from VA.gov

**Tasks:**

- Title of the Education tile: Apply for Education Bene

[2020-03-13 12:44] rumyeahs opened #3216 "Implement Claims tracker - Logged in users and successful transactions over the last 30 days metrics"
**As** a member of the Office of the CTO
**I want to** present a count of the total number of logged in users for tracking claims in the last 30 days
**so that** any visitor (such as a VA Senior stakeholder) to the dashboard gets an insight into how many veterans (& beneficiaries) are actively visiting VA.gov to track their open claims applications

**Tasks:**

- Title of the Claims status tracker

[2020-03-13 13:56] saman-moshafi-va commented on #3208
After talking with Ramya we discovered the need to apply filters to the 'Measure Data' API call. However, filtering is not published for the API.  So I raised a support with ForeSee technical support.  The ticket should be 'using Froesee API #00094114 [ ref:_00D46tfr._5001M1Nd7IK'.
The same person referred to by Chante, Jon Cioffi, picked up the support ticket and is working on answers. Here is th

[2020-03-13 14:25] rumyeahs commented on #3212
Skeleton layout with columns

[2020-03-13 18:48] marisahoenig commented on #3201
Used verbiage from Todd:
VA.gov was created to provide a single unified digital experience for all Veterans. This performance dashboard tracks our progress in that mission by sharing metrics related to our three North Star goals: 1) increasing the use of self-service tools, measured by the number of logged-in users on VA.gov, 2) decreasing the time Veterans spend waiting for an outcome, measured b

[2020-03-13 18:59] rumyeahs opened #3218 "Implement Disability applications - Logged in users & Successful transactions over the last 30 days"
**As** a member of the Office of the CTO
**I want to** present a count of the total number of logged in users and successful transactions for disability applications in the last 30 days
**so that** any visitor (such as a VA Senior stakeholder) to the dashboard gets an insight into how many veterans (& beneficiaries) are seeking disability related benefits from VA.gov

**Tasks:**

- Title of the he

[2020-03-13 21:31] marisahoenig commented on #3201
Need to make a few changes on Monday

- Implement h1 (North Star), h2(Performance Dashboard, VA @), h3 (accordion)
- North Star: make it an ordered list. put in <p> tag
- Fix screen sizing errors: North Star disappears, Last updated & date in 2 separate spans

[2020-03-16 12:36] rumyeahs opened #3223 "Wrap-up documentation before hand off"
Documentation needed for

- Any maintenance tasks including the credstash issues, others, etc.
- Connection documentation (how the connections are made, work)
- Any recommended security patches
- Basic information about making changes in the YAML file as well as other user facing changes (high level is fine)

[2020-03-16 15:03] rumyeahs opened #3224 "Implement updated lean footer"
Lean footer

Links:
- Clicking on **image** should redirect to https://www.va.gov/
- **Go to VA.gov** points to https://www.va.gov/
- **About VA** points to https://www.va.gov/ABOUT_VA/index.asp
- **FOIA points** to https://www.va.gov/foia/
- **Office of the Inspector General** points to https://www.va.gov/oig/
- **Privacy policy** points to https://www.va.gov/privacy-policy/
- **USA.gov** points

[2020-03-16 19:15] toddstanich commented on #3224
Footer design specs attached.

<img width="1538" alt="footer-specs" src="https://user-images.githubusercontent.com/56000470/76792188-7ee35280-6790-11ea-8204-2d4e7e251516.png">

[2020-03-16 19:19] katieho-va commented on #3224
So the "Built by the Digital Experience Product Office" text goes away? @toddstanich

[2020-03-16 19:22] toddstanich commented on #3224
@katieho-va yes, we can remove it.

[2020-03-16 19:43] katieho-va commented on #3224
@toddstanich Do you have a mockup for how the links should look when the screen is smaller? All stacked or all under the logo?

[2020-03-16 19:56] toddstanich commented on #3224
@katieho-va Here is a mobile mockup

![VAGov-Dashboard-Mobile-Footer](https://user-images.githubusercontent.com/56000470/76795012-3fb80000-6796-11ea-9ef9-18cf88929cc9.jpg)

[2020-03-16 20:00] rumyeahs commented on #3203
Chart description text (specifically for screen readers)

This chart displays the total number of logged in users to the various VA services over the last 12 months (from **<start date>** to **<end date>**)
<Month 1>: <Data Value 1>,
<Month 2>: <Data Value 2>,
<Month 3>: <Data Value 3>,
<Month 4>: <Data Value 4>,
<Month 5>: <Data Value 5>,
<Month 6>: <Data Value 6>,
<Month 7>: <Data Value 7>,
<Mon

[2020-03-16 20:45] everthoughtworks opened #3225 "508 issues"
![Screen Shot 2020-03-16 at 4.29.59 PM.png](https://images.zenhubusercontent.com/5dd6a3bbefbeb900016ca508/9d0233e5-d7aa-4b31-aaba-a719ee1328fe)

Current 508 issue status, that can be obtained using the axe chrome plugin: https://chrome.google.com/webstore/detail/axe-web-accessibility-tes/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US

[2020-03-16 20:50] philherbert commented on #3203
An example of a keyboard/screenreader-accessible tabbed interface

https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-2/tabs.html

[2020-03-16 20:58] rumyeahs opened #3226 "Update design changes to the dashboard"
Refer updated design attached to the card:

1. Change VA.gov at a glance charts to Bar charts
    1. Include 0 on the y-axis
    2. The text style for the highlighted text on the left of each chart is now tab style
2. Include “How is this measured?” section under VA.gov at a glance
    1. Refine the text with Chante
3. Include new header for Service line metrics: Performance by service
    1. Incl

[2020-03-16 21:02] karlbrown-va opened #3227 "Add basic UI/accessibility tests to pipeline"
To ensure the website is being built correctly we would like to add some simple UI tests to the pipeline. They should be executed after Jekyll is built, and confirm that the website is functional and has the expected elements and conforms to 508 compliance to the extent that this is (quickly) automatable.

AC:
UI tests running in pipeline
Pipeline job will fail (and not install to DEV) if there is

[2020-03-17 13:44] rumyeahs opened #3228 "[Placeholder] Update North star text & How to measure text & formatting"
Waiting for business to come back with updated copy

[2020-03-17 14:30] kennedycollins commented on #3195
per @mnorthuis and @KevinMHoffmanUSDS, the long term plan is to get this over to some kind of subdomain; but because that's going to take some time we're going to make the intermediate move to /performance-dashboard

[2020-03-17 15:28] toddstanich commented on #3226
Specs attached

![VAGov-Dashboard-specs](https://user-images.githubusercontent.com/56000470/76872132-ffaa5900-6839-11ea-9e27-6f64772df159.jpg)
![VAGov-Dashboard-specs2](https://user-images.githubusercontent.com/56000470/76872139-02a54980-683a-11ea-8127-c160b2a7935a.jpg)
![VAGov-Dashboard-text](https://user-images.githubusercontent.com/56000470/76872142-033de000-683a-11ea-899b-7a6711ca1046.jpg)

[2020-03-17 16:01] kennedycollins commented on #3195
I've created issues for the redirect and the va.gov footer updates; they're linked above for context. This ticket is specifically for tracking the actual creation of /performance-dashboard and pointing it to the right s3 bucket, which is our responsibility.

[2020-03-17 16:09] everthoughtworks opened #3230 "List of outstanding issues"
- [x] [1] - North star not visible on mobile (Iphone, Android)
- [x] [2] - Footer on Edge is off on version 16, but fine on version 18
- [x] [3] - Footer moves up leaving blank space underneath on chrome 42
- [ ] [4] - IE 11: footer is not displayed correctly and graph disappears intermittently
- [x] [5] - X axis under the graph does not show up on mobile devices

[2020-03-17 18:28] everthoughtworks commented on #3224
Verified on all devices specified in: https://docs.google.com/spreadsheets/d/1cyVQh7XPlxI2FNjxWzMsCMr2toHawcAtQqzyilTGuPw/edit#gid=0

[2020-03-17 18:35] everthoughtworks commented on #3212
closing as redundant as per @toddstanich

[2020-03-17 18:35] #3212 closed

[2020-03-17 18:38] everthoughtworks commented on #3201
North star not visible on mobile devices(ios/android) @marisahoenig

[2020-03-17 19:57] toddstanich commented on #3226
Mobile view attached

![VAGov-Dashboard-Mobile-3172020.jpg](https://images.zenhubusercontent.com/5da0902766de7b0001e4d7f5/d41124ef-cb93-4769-8fd0-2cc517b350e7)

[2020-03-17 20:13] marisahoenig commented on #3201
@everthoughtworks Fixed in most recent commit. No longer disappears!

[2020-03-17 20:15] marisahoenig commented on #3230
#1 is fixed w/ this commit:
https://github.com/department-of-veterans-affairs/vets.gov-status/commit/f5d69e6c0fa6a818fa4a410606335f6b71e9de8a

[2020-03-18 13:37] rumyeahs opened #3231 "Implement CSAT scores for Healthcare service line"
**As** a member of the Office of the CTO
**I want to** present a view of customer satisfaction across various VA.gov Health care related services and tools
**so that** any visitor (such as a senior VA stakeholder) to the dashboard gets an insight into how the veteran experience has been with the Health care services on the portal

**Tasks:**
* Pull CSAT scores across all VA.gov Health care related

[2020-03-18 13:44] rumyeahs opened #3232 "Implement CSAT scores for all service line tiles"
**As** a member of the Office of the CTO
**I want to** present a view of customer satisfaction across various VA.gov education related and other services and tools
**so that** any visitor (such as a senior VA stakeholder) to the dashboard gets an insight into how the veteran experience has been with the education services on the portal

**Tasks:**
* Pull CSAT scores across all VA.gov education rel

[2020-03-18 14:10] rumyeahs commented on #3196
The branch to be merged
Adding smoke tests

[2020-03-18 14:31] rumyeahs opened #3233 "Implement the total number of transactions for Health Care benefits applications"
**As** a member of the Office of the CTO
**I want to** present the total number of successful transactions by veterans and beneficiaries applying for Healthcare benefits
**so that** any visitor (such as a VA Senior stakeholder) to the dashboard gets an insight into how many veterans (& beneficiaries) are seeking healthcare applications related benefits from VA.gov

**Tasks:**

- Title of the healt

[2020-03-18 14:33] rumyeahs opened #3234 "[Placeholder] Explore using stacked bar for displaying logged in vs not logged in users within VA.gov at a glance sections"

[2020-03-18 14:36] rumyeahs opened #3235 "Implement total number of transactions for Schedule and View VA Appointments online"
**As** a member of the Office of the CTO
**I want to** present the total number of successful transactions by veterans and beneficiaries scheduling VA appointments online
**so that** any visitor (such as a VA Senior stakeholder) to the dashboard gets an insight into how many veterans (& beneficiaries) are seeking healthcare applications related benefits from VA.gov

**Tasks:**

- This should provi

[2020-03-18 17:52] marisahoenig commented on #3196
We added a smoke test. Reassigning to @karlbrown-va to get the [PR](https://github.com/department-of-veterans-affairs/devops/pull/6526) merged for setting up the daily cron job.

[2020-03-18 18:18] everthoughtworks commented on #3197
x axis does not show in mobile view

[2020-03-18 18:21] everthoughtworks commented on #3197
<img width="486" alt="Screen Shot 2020-03-18 at 2 18 54 PM" src="https://user-images.githubusercontent.com/58002167/76993731-b33b4800-6923-11ea-8079-e710d7c770cc.png">

[2020-03-18 19:34] everthoughtworks commented on #3225
Additionally: Tab button does not work on safari, on Firefox it skips most of the elements, on Chrome one of the graph views @marisahoenig

[2020-03-18 19:48] marisahoenig commented on #3225
@everthoughtworks In safari, you need to use option + tab or set up using tab in preferences. I see the same functionality as chrome using option + tab.
https://osxdaily.com/2011/08/14/enable-tab-key-navigation-safari/

[2020-03-18 20:02] katieho-va commented on #3225
@everthoughtworks Apparently for Firefox on Mac, the tabbing needs to be set as a preference on the machine. Firefox on Windows works fine though.

http://www.weba11y.com/blog/2014/07/07/keyboard-navigation-in-mac-browsers/
"In Safari and Chrome the browser preference for tab key navigation takes precedence. In Firefox the user must modify the OS X system preference for tab key navigation to links

[2020-03-18 20:44] marisahoenig commented on #3196
@katieho-va @marisahoenig Need to add html comment with the time updated for debugging purposes (to be done tomorrow morning)

[2020-03-18 21:54] shefalinayak commented on #3197
axis labels should be fixed as of `ee411aa`

[2020-03-18 23:01] karlbrown-va commented on #3196
Jeremy made updates on the PR, should be merged soon. I think we can close this out otherwise.

[2020-03-19 13:04] saman-moshafi-va commented on #3208
Using OData is more resilient as one call returns all the required data and it is also possible to filter the data hence it is a lot faster.
We have communicated to the ForeSee people on how to use a system account to use OData calls.

[2020-03-19 13:14] saman-moshafi-va commented on #3208
Here are the remaining tasks:
- Finalize whether to use OData or not, we prefer OData
- make sure the yearly graph is displayed at the top
- determine where to save the overall yearly values as the same yml file might be used for both google analytics and ForeSee results
- calculate and provide the data required for the first tile
-

[2020-03-19 13:17] karlbrown-va commented on #3193
This has been working for a while...

[2020-03-19 13:27] karlbrown-va commented on #3190
Confirmed this is running with @everthoughtworks

[2020-03-19 13:28] karlbrown-va commented on #3209
Validated with @everthoughtworks

[2020-03-19 14:06] karlbrown-va commented on #3196
Also to fix: UI test so it doesn't fail late at night (timezone check)

[2020-03-19 14:14] rumyeahs commented on #3195
Need to make a PR against the related DevOps issue

[2020-03-19 16:23] katieho-va commented on #3196
UI test fixed and html comment added for time in 12 hour format. Good for review

[2020-03-19 17:10] rumyeahs commented on #3206
Closing this as #3197 & #3226 are implementing the necessary UI as per design

[2020-03-19 17:10] #3206 closed

[2020-03-19 17:52] katieho-va commented on #3230
@everthoughtworks can you attach the list of approved browsers/versions to this card?

[2020-03-19 17:54] katieho-va commented on #3230
#3 is not an issue I'm seeing on BrowserStack. @everthoughtworks can you re-confirm?

[2020-03-19 18:17] rumyeahs opened #3241 "Sort the tools by the highest number of transactions within each service line tile"

[2020-03-19 18:33] marisahoenig commented on #3230
@everthoughtworks We think #3 is not longer an issue because the content is never shorter than the page height with the new stuff added.

[2020-03-19 19:23] toddstanich opened #3242 "Visual QA"
- [x] Reduce height of header (dark blue background) to 100px
~~- [ ] On mobile, increase size of logo - work with Todd on sizing~~
- [x] Increase width of the content area to 1000px on desktop. Other va.gov pages are 1000px wide. It looks like we have some extra padding causing the content to fill less space.
- [x] On mobile, "Our North Star" text size decreases. It should react the same way as "

[2020-03-19 19:30] rumyeahs opened #3243 "Implement 'How to measure' text"
VA.gov at a glance:

**Logged in users**: The total count of all users who have logged in to VA.gov over the last 12 months, using ID.me or MyHealtheVet or DS Logon

**Successful transactions**: The total count of completed actions taken on VA.gov over
the last 12 months. This includes applications submitted (e.g. health care,
education, etc.), health appointments scheduled, claims status checked,

[2020-03-19 19:32] katieho-va commented on #3230
#2 is fixed with the above two commits
https://github.com/department-of-veterans-affairs/vets.gov-status/commit/07549bbf1f87f73e7588ae391828cc15b46f4699

https://github.com/department-of-veterans-affairs/vets.gov-status/commit/b702f323cfed5acbb0ec9f7a63c00b5ec395e4ae

[2020-03-19 19:47] karlbrown-va commented on #3195
Have requested write access to the devops repo. Awaiting approval.

[2020-03-20 05:45] rumyeahs opened #3247 "Small changes based on feedback"
* Rename the title of Veteran Self Service to 'Profile and Records'
* Change Customer Satisfaction to User Satisfaction
*

[2020-03-20 12:38] rumyeahs opened #3248 "Roll up metrics for Veteran Profile & Records"
Analyse GA metrics

[2020-03-20 13:19] everthoughtworks commented on #3196
verified, UI tests fixed using regex.

[2020-03-20 14:26] toddstanich commented on #3243
<img width="893" alt="Screen Shot 2020-03-20 at 9 26 29 AM" src="https://user-images.githubusercontent.com/56000470/77173041-ea793880-6a8c-11ea-9858-12d773b2827f.png">

[2020-03-20 14:29] #3214 closed

[2020-03-20 14:30] rumyeahs commented on #3214
Duplicate issue

[2020-03-20 15:16] marisahoenig opened #3249 "Footer on IE 11 link wrapping"
On IE 11, the links on the right side of the footer do not wrap on a smaller screen. Instead, the last few links are cut off. This is the lowest version of IE we support. You can use BrowserStack to test.

Potentially helpful sites:
- https://stackoverflow.com/questions/31022747/flexbox-ie11-flex-wrap-wrap-does-not-wrap-images-codepen-inside
- https://social.msdn.microsoft.com/Forums/ie/en-US/8145

[2020-03-20 15:17] marisahoenig commented on #3249
<img width="891" alt="Screen Shot 2020-03-20 at 11 13 31 AM" src="https://user-images.githubusercontent.com/13212345/77177705-5911c280-6a9c-11ea-9077-28dd12083037.png">

[2020-03-20 15:18] marisahoenig commented on #3230
Created new bug card for #4 (IE 11) after discussion in dev huddle that this can be completed at a later time:
https://github.com/department-of-veterans-affairs/vets.gov-status/issues/3249

[2020-03-20 16:43] rumyeahs opened #3250 "Enable GoogleAnalytics tagging on the new scorecard page"
Use the existing Google Tag Manager snippet, which will route activity to our main -16 property

[2020-03-20 17:29] karlbrown-va commented on #3195
PR submitted

[2020-03-20 18:45] everthoughtworks commented on #3243
Verified on MAC: FF, Safari, Chrome
Verified on Windows: FF, Chrome, Edge...does not work on IE11,

[2020-03-20 19:26] marisahoenig commented on #3233
Work being tracked on https://github.com/department-of-veterans-affairs/vets.gov-status/issues/3202

[2020-03-20 19:27] marisahoenig commented on #3235
Work being tracked on https://github.com/department-of-veterans-affairs/vets.gov-status/issues/3202

[2020-03-20 20:24] philherbert opened #3255 "Add documentation on updating Services tiles"
Add some information to the README about how to update `services.yml` to see changes reflected in the page - GA regexes, lists of tools, dynamic content, that kind of thing.

[2020-03-20 20:35] shefalinayak opened #3256 "Service card should not have blank table if there are no tools for that service"
Currently if there are no tools for a service, a blank table is rendered. Instead there should not be any table rendered at all.

![empty tool transactions table.png](https://images.zenhubusercontent.com/5e3c31628b783f0efd54056d/7c3ac459-ef9d-42a7-a36a-c91e3ab5481e)

[2020-03-23 12:56] rumyeahs commented on #3215
Captured as part of #3202. Hence closing this card

[2020-03-23 12:56] #3215 closed

[2020-03-23 12:56] rumyeahs commented on #3207
Captured as part of #3202. Hence closing this card

[2020-03-23 12:56] #3207 closed

[2020-03-23 12:58] rumyeahs commented on #3248
Captured as part of #3202. Hence closing this card

[2020-03-23 12:58] #3248 closed

[2020-03-23 12:58] rumyeahs commented on #3218
Captured as part of #3202. Hence closing this card

[2020-03-23 12:58] #3218 closed

[2020-03-23 12:58] rumyeahs commented on #3216
Captured as part of #3202. Hence closing this card

[2020-03-23 12:58] #3216 closed

[2020-03-23 13:19] marisahoenig commented on #3202
Last task is to sort the Transactions per tile in descending order, which is in a new card: https://github.com/department-of-veterans-affairs/vets.gov-status/issues/3241

Moving this one to review.

[2020-03-23 13:26] katieho-va commented on #3242
@toddstanich Can you provide more details on this point?

_On mobile, "Our North Star" text size decreases. It should react the same way as "va.gov at a glance" and "performance by service" and not reduce in size._

Should the header "VA.gov | Performance Dashboard" also not decrease in size?

[2020-03-23 13:30] katieho-va commented on #3242
Should "Our North Star", "VA.gov at a glance" and "Performance by Service" all be the same font size 32px? They are currently off

[2020-03-23 13:37] toddstanich commented on #3242
@katieho-va ""Our North Star", "VA.gov at a glance" and "Performance by Service" all be the same size (32px).

"VA.gov | Performance Dashboard" can stay as it it, I just checked and it cannot be larger without wrapping on small devices. I'll cross out point #2 on this ticket.

[2020-03-23 13:38] katieho-va commented on #3242
@toddstanich thanks! Just to clarify, "VA.gov | Performance Dashboard" text should be responsive for smaller screens or stay at 32px like the other big headers?

[2020-03-23 13:39] toddstanich commented on #3242
@katieho-va It should be responsive for smaller screens and stay as it currently functions.

[2020-03-23 13:47] katieho-va commented on #3242
@toddstanich got it, thanks!

[2020-03-23 13:53] karlbrown-va opened #3257 "Enable automated production data update"
Currently, to get data in production, 3 jenkins jobs must run:
1) update data (pull data from Google analytics, push to master)- should be run daily
2) update production branch (should be triggered by #1)
3) run CI/deploy on production branch (will happen automatically)

This commit shows the previous state of these jobs
https://github.com/department-of-veterans-affairs/devops/commit/a10d6e9e88403

[2020-03-23 13:59] katieho-va commented on #3242
@toddstanich Can you send a screenshot of this one? I'm not seeing extra padding on desktop. I think the current width of the content area is greater than 1000px already?

_Increase width of the content area to 1000px on desktop. Other va.gov pages are 1000px wide. It looks like we have some extra padding causing the content to fill less space._

[2020-03-23 14:23] katieho-va commented on #3243
Need to make the additional info work in IE 11

[2020-03-23 14:24] karlbrown-va commented on #3198
Confirmed this is working for download of data in master branch.

[2020-03-23 15:31] philherbert commented on #3250
@rumyeahs @kennedycollins do you have an example of the existing Google Tag Manager snippet?

[2020-03-23 15:32] shefalinayak commented on #3255
@philherbert `page_path_filter` for each is not currently optional, I think it will raise a key error in the python script. Should we add back the check and only run the user query if `page_path_filter` is provided?

[2020-03-23 15:58] katieho-va commented on #3242
@toddstanich Added the 1000px spec, feel free to play around with it. I'm looking into the chart cols.

[2020-03-23 16:11] toddstanich opened #3258 "Add User Satisfaction text to "How is this measured?" Va.gov at a glance."
Add text for "User Satisfaction" to the "Va.gov at a glance" section under "How is this measured?"

Text to add:
User Satisfaction: An average customer satisfaction score based on the feedback responses from users within the various service lines on the VA.gov portal over the last 12 months.

[2020-03-23 16:13] marisahoenig commented on #3243
Confirmed this looks good on IE 11 and on the GFE IE 11

[2020-03-23 16:20] toddstanich commented on #3242
@katieho-va the increase in width does not look like it applied to the footer or the "An official website of the United States government" banner.

Verified all other changes and they look good.

[2020-03-23 16:24] katieho-va commented on #3242
@toddstanich will fix footer

[2020-03-23 18:48] katieho-va commented on #3242
@toddstanich Shefali/Saman and I updated the footer and header, please review again

[2020-03-23 19:01] toddstanich commented on #3242
Verified, thanks!

[2020-03-23 19:59] karlbrown-va opened #3262 "Improve license"
The current [license](https://github.com/department-of-veterans-affairs/vets.gov-status/blob/demo/LICENSE.md) specifies that the contents of the repository are in the public domain.

This isn't quite true, as there are some components that are not - for example some code that was copied from various places, some images and assets, etc.

In the past there was an attempt to improve the license which

[2020-03-23 22:11] karlbrown-va commented on #3257
PR submitted

[2020-03-24 16:30] marisahoenig commented on #3223
Final documentation needed:
- Foresee/credstash info - @saman-moshafi-va
- Deployment (pipeline) - @karlbrown-va

[2020-03-24 16:31] karlbrown-va opened #3264 "Refactor fetch data scripts"
There are currently some issues with the fetch-data scripts:
1) There is duplication between fetch-data and fetch-data-local
2) The fetch-data in CI runs in docker, whereas locally it is faster to just invoke the scripts directly. Script should support both ways of running this.
3) the docker wrapper script doesn't work locally.
4) fetch_ga_data also calls out to foresee - this is confusing.

[2020-03-24 19:16] saman-moshafi-va commented on #3223
working on it

[2020-03-25 15:44] shefalinayak commented on #3232
Implementation notes:
- [ ]  Send two requests to Foresee API for the two 30-day periods
- [ ]  Store data in dataframes
- [ ]  Per service filter data by pagePath/url and calculate year-over-year trend
- [ ]  Write scores and trends into counts.yml

[2020-03-25 15:59] karlbrown-va commented on #3257
PR approved, awaiting deployment.

[2020-03-25 16:27] karlbrown-va opened #3267 "Run (simplified) data update script as part of CI"
Currently, the data update script (`fetch-data-docker-wrapper.sh`) is only triggered in the Jenkinsfile.update script. We toyed with the idea of adding it to Jenkinsfile as well, but this has a few issues:
1) If we run this script before the build script, then the site that is deployed (to dev/staging/production) will have data that is different than what is committed
2) The Foresee integration ta

[2020-03-25 21:53] saman-moshafi-va commented on #3223
We need to add what should be done if measure id is changed.

[2020-03-27 16:25] karlbrown-va opened #3276 "Nightly data update fails"
Currently the nightly data update fails.

Example:
http://jenkins.vfs.va.gov/job/performance-dashboard/job/data-update/8/console

It seems this is due to the new, longer CI progress, which isn't completed in the data merge branch by the time this script picks up the changes.

We should change the script to
1) Wait a bit longer to allow CI script to clear
2) Add logic to wait for one of the followi

[2020-03-27 18:00] #3228 closed

[2020-03-27 18:00] #3232 closed

[2020-03-27 18:01] #3223 closed

[2020-03-27 18:01] #3247 closed

[2020-03-27 18:01] #3208 closed

[2020-03-27 18:01] #3235 closed

[2020-03-27 18:01] #3202 closed

[2020-03-27 18:43] rumyeahs commented on #3231
Duplicate of #3232

[2020-03-27 18:43] #3231 closed

[2020-03-28 13:02] karlbrown-va commented on #3276
Confirmed that the changes made work and the job passes.

[2020-03-28 13:02] karlbrown-va commented on #3264
This is done.

[2020-03-28 13:02] #3264 closed

[2020-03-30 12:11] karlbrown-va commented on #3276
re-opening; need to make the same changes to the Jenkins.autoupdate script as that was failing too (probably b/c CI in master was still running after the merge?)

[2020-04-02 12:16] karlbrown-va commented on #3276
Confirmed this works. can close out.

[2020-04-02 12:16] #3276 closed

[2020-04-02 12:17] karlbrown-va commented on #3195
PR is merged so the new URL exists now. Keeping this open until the other PRs close as well.

[2020-04-02 12:48] rumyeahs opened #3297 "Change wording regarding the previous 30 days data"
Under the Tile title, add verbiage that calls out the timeperiod.
Text: "Usage data from previous 30 days"

Context:
[Charles] The specific service tiles (i.e. “Health Care”) – These are showing numbers from the past 30 days… but the titles don’t make this clear. Perhaps we could edit the titles to make this more clearn, for example instead of “Total Users” … “Total Users (Previous 30 Days)”? “Up

[2020-04-02 12:54] rumyeahs opened #3298 "Compare the data from the past 30 days to the previous 12 months average"
within the service tiles

[2020-04-02 12:56] rumyeahs opened #3299 "Change "Performance by Service" title to "VA.gov service""

[2020-04-02 13:02] rumyeahs opened #3300 "How this is measured copy change"
**VA.gov at a glance:**
**From**
User Satisfaction: An average user satisfaction score based on the feedback responses from users within the various service lines on the VA.gov portal over the last 12 months.
**To**
User Satisfaction: An average user satisfaction score based on the feedback responses from users within the various service lines on VA.gov for the last 12 months.

**Service line tile

[2020-04-02 14:34] rumyeahs opened #3301 "Modify North Star text"
Remove Title 'Our North Star'
Change text to:

We are transforming VA.gov into a single unified digital experience for all Veterans. This performance dashboard tracks our progress in that mission by sharing metrics that support our three North Star goals:

1.                   Increase the use of self-service tools

2.                   Decrease the time Veterans spend waiting for an outcome

3.

[2020-04-03 17:21] philherbert commented on #3297
<img width="507" alt="Screen Shot 2020-04-03 at 13 20 30" src="https://user-images.githubusercontent.com/9078954/78387844-fa753a00-75ad-11ea-98c1-ee40ef9f46b2.png">

@rumyeahs @toddstanich Like this?

[2020-04-03 20:48] rumyeahs opened #3304 "Provide descriptive text against the year on year trend within the Service line tile"
Change "year-over-year"

to

"compared to prior year period"

[2020-04-17 15:53] saman-moshafi-va opened #3332 "Update Data fails during daily automatic build"
When starting the build manually or running the code locally, everything works fine, but the builds on Apriul 16 and 17 2020 failed with this stack trace:

[code]

[2020-04-17 20:12] saman-moshafi-va commented on #3332
I added more logging if the issue occurs again as was unable to reproduce the issue locally

[2020-04-18 14:01] saman-moshafi-va commented on #3332
I just checked and the last night build was successful

[2020-04-24 17:30] rumyeahs opened #3347 "Changes to 12 month aggregate of VA.gov at a glance Logged in users"
**Description**

Currently the monthly metrics for Logged in users displays the total unique logged in users for the selected month.

The aggregate number on the left appears to be a summation of the individual month-wise numbers, that potentially is not de-duplicating the unique users across months.
![image](https://user-images.githubusercontent.com/2493271/80240440-d5fe0200-862f-11ea-87cb-05ac90

[2020-04-24 18:10] kennedycollins opened #3348 "Represent user satisfaction scores with a better eye towards recent changes"
We've gotten some feedback that showing an average CSAT for the last 12 months in the VA.gov at a glance section in confusing, since customer satisfaction is more of a point-in-time metric. We'd like to find a way to better represent the current CSAT while also having that section respect the 12 month timescale of the rest of the metrics.

I'm thinking either:
Current with 12 month change, like we

[2020-04-27 18:21] kennedycollins opened #3355 "Keep "VA.gov at a glance" tabs from wrapping to a new line on mobile"
This is happening specifically because in the li element that contains them is being given the class "vads-l-col-6". Changing it to "vads-l-col-4" fixes it.

[2020-04-28 14:20] haivi opened #3358 "test"

[2020-04-29 13:47] marisahoenig commented on #3348
@kennedycollins Since User Satisfaction is now going to be for the last month, should the "How is this measured?" text also be updated? Right now, it reads "An average user satisfaction score based on the feedback responses from users within the various service lines on VA.gov for the last 12 months." The graph is the last 12 months but the title will be only one month.

[2020-04-29 14:57] kennedycollins commented on #3348
Good catch — let's change it to "A monthly average user satisfaction score based on the feedback responses from users within the various service lines on VA.gov."

(Just pulling off 12 months from the end and adding monthly to the front).

[2020-04-29 15:05] marisahoenig commented on #3348
Thanks, just pushed that text change!

[2020-04-29 21:20] #3257 closed

[2020-04-29 21:20] #3205 closed

[2020-04-29 21:21] #3201 closed

[2020-04-29 21:21] #3204 closed

[2020-04-29 21:21] #3191 closed

[2020-04-29 21:21] #3190 closed

[2020-04-29 21:23] #3227 closed

[2020-04-29 21:23] #3193 closed

[2020-04-29 21:23] #3209 closed

[2020-04-29 21:23] #3197 closed

[2020-04-29 21:24] #3203 closed

[2020-04-29 22:26] #3225 closed

[2020-04-29 22:26] #3224 closed

[2020-04-29 22:27] #3196 closed

[2020-04-29 22:27] #3230 closed

[2020-04-29 22:27] #3211 closed

[2020-04-29 22:27] #3198 closed

[2020-04-29 22:27] #3226 closed

[2020-04-29 22:28] #3255 closed

[2020-04-29 22:28] #3256 closed

[2020-05-28 17:06] #3348 closed

[2020-05-28 17:06] #3195 closed

[2020-05-28 17:06] #3355 closed

[2020-05-28 17:06] #3347 closed

[2020-05-28 17:06] #3332 closed

[2020-05-28 17:06] #3304 closed

[2020-05-28 17:06] #3299 closed

[2020-05-28 17:06] #3267 closed

[2020-05-28 17:07] #3250 closed

[2020-05-28 17:07] #3233 closed

[2020-05-28 17:07] #3242 closed

[2020-05-28 17:07] #3258 closed

[2020-05-28 17:07] #3243 closed

[2020-05-28 17:07] #3241 closed

[2021-03-24 15:20] karlbrown-va opened #4026 "Move secrets for Foresee and Google analytics to analytics-managed parameter store"
Per our understanding of latest conventions, the secrets for applications using github actions should be stored in Amazon parameter store.

There are two main secrets needed by vets.gov-status:
1) Google analytics credentials
2) Foresee credentials

We had previously been pulling these credentials out of credstash. In the new world, it would seem logical that these credentials be stored in a param